<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.order.mapper.WeighingStatementMapper">
  <resultMap id="BaseResultMap" type="com.dili.order.domain.WeighingStatement">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="serial_no" jdbcType="VARCHAR" property="serialNo" />
    <result column="weighing_bill_id" jdbcType="BIGINT" property="weighingBillId" />
    <result column="weighing_serial_no" jdbcType="VARCHAR" property="weighingSerialNo" />
    <result column="buyer_id" jdbcType="BIGINT" property="buyerId" />
    <result column="buyer_card_no" jdbcType="VARCHAR" property="buyerCardNo" />
    <result column="buyer_name" jdbcType="VARCHAR" property="buyerName" />
    <result column="buyer_actual_amount" jdbcType="BIGINT" property="buyerActualAmount" />
    <result column="buyer_poundage" jdbcType="BIGINT" property="buyerPoundage" />
    <result column="seller_id" jdbcType="BIGINT" property="sellerId" />
    <result column="seller_card_no" jdbcType="VARCHAR" property="sellerCardNo" />
    <result column="seller_name" jdbcType="VARCHAR" property="sellerName" />
    <result column="seller_actual_amount" jdbcType="BIGINT" property="sellerActualAmount" />
    <result column="trade_amount" jdbcType="BIGINT" property="tradeAmount" />
    <result column="frozen_amount" jdbcType="BIGINT" property="frozenAmount" />
    <result column="state" jdbcType="TINYINT" property="state" />
    <result column="pay_order_no" jdbcType="VARCHAR" property="payOrderNo" />
    <result column="frozen_order_no" jdbcType="VARCHAR" property="frozenOrderNo" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, serial_no, weighing_bill_id, weighing_serial_no, buyer_id, buyer_card_no, buyer_name, 
    buyer_actual_amount, buyer_poundage, seller_id, seller_card_no, seller_name, seller_actual_amount, 
    trade_amount, frozen_amount, state, pay_order_no, frozen_order_no, created_time, 
    modified_time
  </sql>
  <select id="selectBy" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select 
    <include refid="Base_Column_List" />
    from weighing_statement
    where id = #{id,jdbcType=BIGINT}
  </select>
  <update id="updateBy" parameterType="com.dili.order.domain.WeighingStatement">
    <!--
      WARNING - @mbg.generated
    -->
    update weighing_statement
    <set>
      <if test="serialNo != null">
        serial_no = #{serialNo,jdbcType=VARCHAR},
      </if>
      <if test="weighingBillId != null">
        weighing_bill_id = #{weighingBillId,jdbcType=BIGINT},
      </if>
      <if test="weighingSerialNo != null">
        weighing_serial_no = #{weighingSerialNo,jdbcType=VARCHAR},
      </if>
      <if test="buyerId != null">
        buyer_id = #{buyerId,jdbcType=BIGINT},
      </if>
      <if test="buyerCardNo != null">
        buyer_card_no = #{buyerCardNo,jdbcType=VARCHAR},
      </if>
      <if test="buyerName != null">
        buyer_name = #{buyerName,jdbcType=VARCHAR},
      </if>
      <if test="buyerActualAmount != null">
        buyer_actual_amount = #{buyerActualAmount,jdbcType=BIGINT},
      </if>
      <if test="buyerPoundage != null">
        buyer_poundage = #{buyerPoundage,jdbcType=BIGINT},
      </if>
      <if test="sellerId != null">
        seller_id = #{sellerId,jdbcType=BIGINT},
      </if>
      <if test="sellerCardNo != null">
        seller_card_no = #{sellerCardNo,jdbcType=VARCHAR},
      </if>
      <if test="sellerName != null">
        seller_name = #{sellerName,jdbcType=VARCHAR},
      </if>
      <if test="sellerActualAmount != null">
        seller_actual_amount = #{sellerActualAmount,jdbcType=BIGINT},
      </if>
      <if test="tradeAmount != null">
        trade_amount = #{tradeAmount,jdbcType=BIGINT},
      </if>
      <if test="frozenAmount != null">
        frozen_amount = #{frozenAmount,jdbcType=BIGINT},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=TINYINT},
      </if>
      <if test="payOrderNo != null">
        pay_order_no = #{payOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="frozenOrderNo != null">
        frozen_order_no = #{frozenOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>