<#bs4Body>

<div class="container-fluid">
<div class="row">
    <div class="col-12">
            <table id="grid" data-toggle="table" data-title="关联结算单" class="table"
                   data-query-params="queryParams"
                   data-single-select="true" data-click-to-select="true" data-checkbox-header="true"
                   data-icons="bui.variable.icons" data-content-type="application/json; charset=utf-8"
                   data-buttons-class="primary" data-method="POST"
            >
            <thead>
            <tr>
                <th data-align="center" data-field="lastOperationTime" data-provider="datetimeProvider">结算时间</th>
                <th data-align="center" data-field="weighingStatementCode">结算单号</th>
                <th data-align="center" data-field="goodsName">商品</th>
                <th data-align="center" data-field="netWeight">净重</th>
                <th data-align="center" data-field="unitAmount">件数</th>
                <th data-align="center" data-field="unitPrice">单价（元/公斤）</th>
                <th data-align="center" data-field="tradeAmount">交易货款</th>
                <th data-align="center" data-field="staffCharges">人工费</th>
                <th data-align="center" data-field="collectionCharges">代收费</th>
                <th data-align="center" data-field="packingCharges">包装费</th>
                <th data-align="center" data-field="packingTypeName">包装</th>
                <th data-align="center" data-field="totalAmount">合计</th>
            </tr>
            </thead>
            </table>
        </div>
    </div>
</div>
<script>

    let ids = localStorage.getItem("ids");
    localStorage.removeItem("ids");
</script>
</#bs4Body>
<#collectionRecord_detail />