<#bs4Body>

<div class="container-fluid">

    <form class="form collapse show" id="queryForm" role="form" >
        <div class="row  row-cols-6">
            <div class="form-group col-auto" style="width: 350px">
                <label for="" class="">买方</label>
                <div class="input-group">
                    <#bautoCompleteProvider _hiddenDomainId="buyerId" _hiddenDomainName="buyerId" _displayDomainId="buyerCode" _displayDomainName="buyerCode" _placeholder=""
                    _optionVariable="buyerNameQueryAutoCompleteOption" />
                    <input type="text" class="form-control" id="show_buyer_name" readonly />
                </div>
            </div>
            <div class="form-group col-auto" style="width: 350px">
                <label for="" class="">卖方</label>
                <div class="input-group">
                    <#bautoCompleteProvider _hiddenDomainId="sellerId" _hiddenDomainName="sellerId" _displayDomainId="sellerCode" _displayDomainName="sellerCode" _placeholder=""
                    _optionVariable="sellerNameQueryAutoCompleteOption" />
                    <input type="text" class="form-control" id="show_seller_name" readonly />
                </div>
            </div>
            <div class="form-group col-auto" style="width: 350px">
                <label for="" class="">买方卡</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="buyerCardNo" name="" />
                    <input type="text" class="form-control" id="accountBuyerId" name="accountBuyerId" hidden/>
                    <input type="text" class="form-control" id="show_buyer_name_by_card_name" readonly />
                </div>
            </div>
            <div class="form-group col-auto" style="width: 350px">
                <label for="" class="">卖方卡</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="sellerCardNo" name="" />
                    <input type="text" class="form-control" id="accountSellerId" name="accountSellerId" hidden/>
                    <input type="text" class="form-control" id="show_seller_name_by_card_name" readonly />
                </div>
            </div>
            <div class="form-group col">
                <label for="">部门</label>
                <select id="departmentId" name="departmentIds" class="form-control "></select>
                <#bcomboProvider _id="departmentId" _provider="departmentProvider"/>
            </div>
            <div class="form-group col-auto">
                <label for="operationStartTime">回款时间</label>
                <div class="form-inline">
                    <div class="input-group">
                        <input type="text" name="beginDateTime" id="operationStartTime" class="form-control settletime laystart" />
                        <div class="input-group-append">
                            <label for="operationStartTime" class="input-group-text fa fa-calendar"></label>
                        </div>
                    </div>
                    &nbsp;&nbsp;至&nbsp;&nbsp;
                    <div class="input-group">
                        <input type="text" name="endDateTime" id="operationEndTime" class="form-control settletimeEnd layend" value="" />
                        <div class="input-group-append">
                            <label for="operationEndTime" class="input-group-text fa fa-calendar"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-auto align-self-center mt-3">
                <button type="button" class="btn btn-outline-primary mr-2" onclick="javascript:clearQueryForm();">
                    <i class="fa fa-refresh"></i> 清空
                </button>
                <button type="button" class="btn btn-outline-primary mr-2" onclick="queryDataHandler()">
                    <i class="fa fa-search"></i> 查询
                </button>
                <button type="button" class="btn btn-outline-primary" onclick="javascript:swipeCard();">
                    <i class="fa fa-credit-card-alt"></i> 刷卡
                </button>
            </div>
        </div>
    </form>

<hr>

    <div class="row">
        <div class="col-12">
            <div id="toolbar" class="btn-group" role="group" aria-label="Toolbar with button groups">
                <#resource code="collectionRecord_export">
                    <button id="export" type="button" class="btn btn-primary" onclick="clearQueryForm()"><i class="fa fa-download"></i> 导出</button>
                </#resource>
            </div>
                <table id="grid" data-toggle="table"
                       data-title="回款单列表"  data-toolbar="#toolbar"
                       data-pagination="true" data-page-number="1"
                       data-method="post"
                       data-page-size="10" data-query-params="queryParams"
                       data-side-pagination="server"
                       data-content-type="application/json"
                       data-single-select="true" data-click-to-select="true" data-checkbox-header="true"
                       data-unique-id="serialNo" data-sort-name="operation_time" data-sort-order="desc"
                       data-icons="bui.variable.icons"
                       data-buttons-class="primary" data-show-refresh="true" data-show-fullscreen="true" data-show-columns="true">
                >
                <thead>
                    <tr>
                        <th data-radio="true"></th>
                        <th data-field="operationTime" data-align="center" data-provider="datetimeProvider" data-sortable="true" data-sort-name="operation_time">
                            回款操作时间
                        </th>
                        <th data-field="settlementDate" data-align="center">
                            交易结算日期
                        </th>
                        <th data-field="buyerName" data-align="center" data-sortable="true" data-sort-name="CONVERT(buyer_name using gbk)">
                           买方客户
                        </th>
                        <th data-field="buyerCardNo" data-align="center" data-sortable="true" data-sort-name="buyer_card_no">
                           买方卡号
                        </th>
                        <th data-field="sellerName" data-align="center" data-sortable="true" data-sort-name="CONVERT(seller_name using gbk)">
                           卖方客户
                        </th>
                        <th data-field="sellerCardNo" data-align="center"  data-sortable="true" data-sort-name="seller_card_no">
                           卖方卡号
                        </th>
                        <th data-field="amountReceivables" data-align="center"  data-sortable="true" data-sort-name="amount_receivables" data-type="number" data-format="0.00">
                           应回款金额
                        </th>
                        <th data-field="amountActually" data-align="center"  data-sortable="true" data-sort-name="amount_actually" data-type="number" data-format="0.00">
                           实回款金额
                        </th>
                        <th data-field="paymentWays" data-align="center"  data-sortable="true" data-sort-name="payment_ways">
                           回款途径
                        </th>
                        <th data-field="paymentCardNumber" data-align="center" data-sortable="true" data-sort-name="payment_card_number">
                           代付卡号
                        </th>
                        <th data-field="remark" data-align="center"  data-sortable="true" data-sort-name="CONVERT(remark using gbk)">
                           备注
                        </th>
                        <th data-field="operationName" data-align="center" data-sortable="true" data-sort-name="CONVERT(operation_name using gbk)">
                           操作人
                        </th>
                        <th data-field="operationDepartmentName" data-align="center" data-sortable="true" data-sort-name="CONVERT(operation_department_name using gbk)">
                           部门
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

</#bs4Body>

<script>
    $(function() {
        $('#buyerCardNo').on(
            'input',
            function(cardNo) {
                $.ajax({
                    type : "POST",
                    dataType : "json",
                    url : '/weighingBill/listCustomerByCardNo.action',
                    data : {
                        cardNo : $(this).val()
                    },
                    success : function(data) {
                        if (data.code == '200') {
                            $('#show_buyer_name_by_card_name').val(
                                data.data.customerName);
                            $('#accountBuyerId').val(data.data.accountId);
                        } else {
                            $('#show_buyer_name_by_card_name').val('');
                            // bs4pop.alert("客户获取失败!", {type: 'error'});
                            $('#accountBuyerId').val('');
                        }
                    },
                    error : function() {
                        bui.loading.hide();
                        bs4pop.alert("客户获取失败!", {
                            type : 'error'
                        });
                    }
                });
            })
        $('#sellerCardNo').on(
            'input',
            function(cardNo) {
                $.ajax({
                    type : "POST",
                    dataType : "json",
                    url : '/weighingBill/listCustomerByCardNo.action',
                    data : {
                        cardNo : $(this).val()
                    },
                    success : function(data) {
                        if (data.code == '200') {
                            $('#show_seller_name_by_card_name').val(
                                data.data.customerName);
                            $('#accountSellerId').val(data.data.accountId);
                        } else {
                            $('#show_seller_name_by_card_name').val('');
                            // bs4pop.alert("客户获取失败!", {type: 'error'});
                            $('#accountSellerId').val('');
                        }
                    },
                    error : function() {
                        bui.loading.hide();
                        bs4pop.alert("客户获取失败!", {
                            type : 'error'
                        });
                    }
                });
            })
    })

    function clearQueryForm(){
        $('#queryForm input').val('');
        // $('#buyerId').val('');
        // $('#sellerId').val('');
    }
</script>
<#collectionRecord_indexJs />