<#bs4Body>

<style type="text/css">
    ul{list-style:none;}
    li{width:48%;;float:left;}
    .td{
        height: 45px;
        line-height: 45px;
    }

    .operator{
        padding: 4px;
    }
</style>
<div class="container-fluid">
        <input type="hidden" id="_sourceChannel" value="<#config name='ia.source.channel.earnest_order'/>">
        <form id="saveForm" role="form" novalidate>
            <input type="hidden" class="form-control" name="goodsId" value="${model.goodsId}" placeholder="">
            <input type="hidden" class="form-control" name="parentGoodsId" value="${model.parentGoodsId}" placeholder="">
            <input type="hidden" class="form-control" name="referenceRuleView" value="${model.$_referenceRule}" placeholder="">
            <div   id= "menu ">
                <ul>
                    <li>
                        <div class="td" style="border: 1px solid black;"><label for="">商品品类</label></div>
                        <div class="td" style="border: 1px solid black;"><label for="">匹配规则</label></div>
                        <div class="td" id="priceTitleDiv" Style="display: none;border: 1px solid black;"><label for="">固定价格</label></div>
                    </li>
                    <li>
                        <div class="td operator" style="border: 1px solid black;">
                            <input type="text" name="goodsName" class="form-control" readonly="readonly" value="${model.goodsName}" placeholder="">
                        </div>
                        <div class="td operator" style="border: 1px solid black;">
                            <select id="referenceRule" onchange="changeDivDisplay();" name="referenceRule" class="form-control"></select>
                            <#bcomboProvider _id="referenceRule" _provider="referenceRuleProvider" _queryParams='{}' _value="${model.$_referenceRule}"/>
                        </div>
                        <div  class="td operator" id="priceValueDiv" Style="display: none;border: 1px solid black;">
                            <input type="number" id="fixedPriceView"  class="form-control" value="${model.fixedPrice}"  maxlength="100">
                            <input type="number" hidden="true"  id="fixedPrice"  class="form-control" name="fixedPrice"  maxlength="100">
                        </div>
                    </li>
                </ul>

                <ul>
                    <li><br/></li>
                    <li><br/></li>
                    <li><br/></li>
                    <li><br/></li>
                    <div ><label for="">说明：</label></div>
                    <div ><label for="">规则1：去掉前一日交易最高和最低价格的交易数据后，用剩余的交易数据的总交易额除以总交易量得出前一日平均价格，作为当日前n笔交易价格的参考价；</label></div>
                    <div ><label for="">规则2：前一日总交易额除以总交易量，作为当日前n笔交易价格的参考价</label></div>
                    <div ><label for="">规则3：固定价格</label></div>
                </ul>
            </div>
        </form>
    </div>
</#bs4Body>


    <script>
        $(function(){
            var fixedPrice = $('#fixedPriceView').val();
            $('#fixedPriceView').val((fixedPrice/100).toFixed(2));

            var referenceRule = $("input[name='referenceRuleView']").val();
            changeDivDisplay(referenceRule);
            /*setTimeout( function(){
                var numbers = $("#referenceRule").find("option"); //获取select下拉框的所有值
                for (var j = 1; j < numbers.length; j++) {
                    if ($(numbers[j]).val() == referenceRule) {
                        $(numbers[j]).attr("selected", "selected");
                    }
                }

                changeDivDisplay();
            }, 600 );*/
        });

        function changeDivDisplay(referenceRule){
            if(referenceRule == null){
                referenceRule = $("#referenceRule").val();
            }
            if(referenceRule == '3'){
                document.getElementById("priceTitleDiv").style.display = "block";
                document.getElementById("priceValueDiv").style.display = "block";
            }
            else {
                document.getElementById("priceTitleDiv").style.display = "none";
                document.getElementById("priceValueDiv").style.display = "none";
            }
        }

        function saveOrUpdateHandler() {
            //固定金额校验
            var referenceRule = $("#referenceRule").val();
            var num = $('#fixedPriceView').val();
            var exp = /^\d{1,4}(\.\d{1,2})?$/;
            if(referenceRule == '3' && (!exp.test(num) || num == 0)){
                bs4pop.alert("固定价格必须是0.01-9999.99之间的数字且最多两位小数", {type: 'error'});
                return;
            }
            // 提交保存
            if (!$('#saveForm').validate().form()) {
                return false;
            }
            //将固定金额转成整数存入
            if(referenceRule == '3'){
                var fixedPrice=parseFloat($('#fixedPriceView').val());
                fixedPrice=fixedPrice.toFixed(2)*100;
                $('#fixedPrice').val(Math.round(fixedPrice));
            } else{
                $('#fixedPrice').val(null);
            }

            bui.loading.show('努力提交中，请稍候。。。');
            var obj=$('#saveForm')[0];
            let _formData = new FormData($('#saveForm')[0]);
            $.ajax({
                type: "POST",
                url: "/goodsReferencePriceSetting/insert.action",
                data: _formData,
                processData: false,
                contentType: false,
                async: true,
                success: function (res) {
                    bui.loading.hide();
                    if (res.code == "200") {
                        bs4pop.alert('成功', {type: 'success'}, function () {
                            /* 应该要带条件刷新 */
                            parent.dia.hide();
                            parent.location.reload();
                        });
                    } else {
                        bui.loading.hide();
                        bs4pop.alert(res.errorData, {type: 'error'});
                    }
                },
                error: function (error) {
                    bui.loading.hide();
                    bs4pop.alert(error.result, {type: 'error'});
                }
            });
        }
    </script>