<#bs4Body>
<#vueElm/>
<style type="text/css">
    ul{list-style:none;}
    li{width:48%;}
    .td{
        height: 45px;
        line-height: 45px;
    }

    .operator{
        padding: 4px;
    }
    .title-column{
        text-align: right;
        width: 150px;
        padding: 5px;
    }
    .content-column{
        padding:5px
    }
</style>
<div class="container-fluid" id ="v">
        <form id="saveForm" role="form" novalidate>
            <div id= "menu ">
                <div style="padding: 20px">
                    <table width="100%" border="1" >
                        <tr>
                            <td class="title-column">商品品类</td>
                            <td class="content-column" v-text="requestData.goodsName"></td>
                        </tr>
                        <tr>
                            <td class="title-column">常规交易匹配规则</td>
                            <td class="content-column" >
                                <div class="form-inline" style="justify-content: space-between;">
                                    <select style="width:50%" id="genericRule" v-model="selectedGenericRule.referenceRule" class="form-control">
                                        <option v-for='item in ruleOptions' :value="item.value" v-text="item.text">
                                        </option>
                                    </select>
                                    <input  v-show="selectedGenericRule.referenceRule==3" type="text" class="form-control" v-model="selectedGenericRule.fixedPriceText">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="title-column">老农交易匹配规则</td>
                            <td class="content-column" >
                                <div class="form-inline" style="justify-content: space-between;">
                                    <select style="width:50%" id="traditionFarmerRule" v-model="selectedTraditionFarmerRule.referenceRule" class="form-control">
                                        <option v-for='item in ruleOptions' :value="item.value" v-text="item.text">
                                        </option>
                                    </select>
                                    <input v-show="selectedTraditionFarmerRule.referenceRule==3" type="text" class="form-control" v-model="selectedTraditionFarmerRule.fixedPriceText">
                                </div>

                            </td>
                        </tr>
                        <tr>
                            <td class="title-column">自营交易匹配规则</td>
                            <td class="content-column" >
                                <div class="form-inline" style="justify-content: space-between;">
                                    <select style="width:50%" id="selfRule" v-model="selectedSelfRule.referenceRule" class="form-control">
                                        <option v-for='item in ruleOptions' :value="item.value" v-text="item.text">
                                        </option>
                                    </select>
                                    <input v-show="selectedSelfRule.referenceRule==3" type="text" class="form-control" v-model="selectedSelfRule.fixedPriceText">
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div>
                    <ul>
                        <div ><label for="">说明：</label></div>
                        <div ><label for="">规则1：去掉前一日交易最高和最低价格的交易数据后，用剩余的交易数据的总交易额除以总交易量得出前一日平均价格，作为当日前n笔交易价格的参考价；</label></div>
                        <div ><label for="">规则2：前一日总交易额除以总交易量，作为当日前n笔交易价格的参考价</label></div>
                        <div ><label for="">规则3：固定价格</label></div>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</#bs4Body>
<script>
    let vue = new Vue({
        el: '#v',
        data() {
            return {
                selectedGenericRule: {
                    tradeType: 1,
                    referenceRule: "",
                    fixedPrice: "",
                    fixedPriceText:""
                },
                selectedTraditionFarmerRule: {
                    tradeType: 2,
                    referenceRule: "",
                    fixedPrice: "",
                    fixedPriceText:""
                },
                selectedSelfRule: {
                    tradeType: 3,
                    referenceRule: "",
                    fixedPrice: "",
                    fixedPriceText:""
                },
                requestData: {
                    goodsId: "",
                    goodsName: "",
                    parentGoodsId: "",
                    items: [],
                },
                detailInfo: {},
                ruleOptions: [],
            }
        },
        mounted: function(){
            this.getDetail();
            this.getRuleOptions();
        },
        methods: {
            getRuleOptions(){
                let that = this;
                $.ajax({
                    type: "POST",
                    data: {
                        provider : "referenceRuleProvider"
                    },
                    url: '${contextPath}/provider/getLookupList.action',
                    success: function (ret) {
                        that.ruleOptions = ret;
                    }
                });
            },
            getDetail(){
                let that = this;
                let goodsId = ${goodsId};
                $.ajax({
                    type: "GET",
                    data: {
                        goodsId : goodsId
                    },
                    url: '${contextPath}/goodsReferencePriceSetting/detail.action',
                    success: function (ret) {
                        if (ret.success){
                            that.detailInfo = ret.data;
                            that.selectedGenericRule=  that.detailInfo.genericItem;
                            that.selectedTraditionFarmerRule = that.detailInfo.traditionFarmerItem;
                            that.selectedSelfRule = that.detailInfo.selfItem;
                            that.requestData.goodsId = that.detailInfo.goodsId;
                            that.requestData.goodsName = that.detailInfo.goodsName;
                            that.requestData.parentGoodsId = that.detailInfo.parentGoodsId;
                        } else {
                            bs4pop.alert(ret.message, {type: 'error'});
                        }
                    }
                });
            },
            saveOrEdit(){
                if (!this.validateRequestData()) {
                    return;
                }
                this.mergeRule2RequestData();

                bui.loading.show('努力提交中，请稍候。。。');
                $.ajax({
                    type: "POST",
                    data: JSON.stringify(this.requestData),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    url: '${contextPath}/goodsReferencePriceSetting/saveOrEdit.action',
                    success: function (ret) {
                        bui.loading.hide();
                        if (ret.success){
                            parent.bs4pop.alert("编辑成功", {type: 'success'});
                            /* 应该要带条件刷新 */
                            parent.dia.hide();
                            parent.location.reload();
                        } else {
                            bui.loading.hide();
                            parent.bs4pop.alert(ret.message, {type: 'error'});
                        }
                    },
                    error: function (error) {
                        bui.loading.hide();
                        parent.bs4pop.alert(error.message, {type: 'error'});
                    }
                });
            },
            validateRequestData() {
                let exp = /^\d{1,3}(\.\d{1,2})?$/;
                if (this.selectedGenericRule.referenceRule == ""
                    && this.selectedTraditionFarmerRule.referenceRule == ""
                    && this.selectedSelfRule.referenceRule == "") {
                    parent.bs4pop.alert("至少选择一条规则", {type: 'error'});
                    return false;
                }
                let genericFixedPrice = this.selectedGenericRule.fixedPrice;
                if (this.selectedGenericRule.referenceRule == 3 && (!exp.test(genericFixedPrice) || genericFixedPrice == 0)){
                    parent.bs4pop.alert("常规规则固定价格必须是0.01-999.99之间的数字且最多两位小数", {type: 'error'});
                    return false;
                }
                let farmerFixedPrice = this.selectedTraditionFarmerRule.fixedPrice;
                if (this.selectedTraditionFarmerRule.referenceRule == 3 && (!exp.test(farmerFixedPrice) || farmerFixedPrice == 0)){
                    parent.bs4pop.alert("老农规则固定价格必须是0.01-999.99之间的数字且最多两位小数", {type: 'error'});
                    return false;
                }
                let selfFixedPrice = this.selectedSelfRule.fixedPrice;
                if (this.selectedSelfRule.referenceRule == 3 && (!exp.test(selfFixedPrice) || selfFixedPrice == 0)){
                    parent.bs4pop.alert("自营规则固定价格必须是0.01-999.99之间的数字且最多两位小数", {type: 'error'});
                    return false;
                }
                return true;
            },
            isEmpty(str){
                return str == null || str == undefined || str == "";
            },
            mergeRule2RequestData() {
                this.requestData.items = [];
                if (!this.isEmpty(this.selectedGenericRule.referenceRule)){
                    let selectedGenericRule = this.selectedGenericRule;
                    selectedGenericRule.fixedPrice = parseFloat(selectedGenericRule.fixedPriceText) * 100;
                    this.requestData.items.push(selectedGenericRule);
                }
                if (!this.isEmpty(this.selectedTraditionFarmerRule.referenceRule)){
                    let selectedTraditionFarmerRule = this.selectedTraditionFarmerRule;
                    selectedTraditionFarmerRule.fixedPrice = parseFloat(selectedTraditionFarmerRule.fixedPriceText) * 100;
                    this.requestData.items.push(selectedTraditionFarmerRule);
                }
                if (!this.isEmpty(this.selectedSelfRule.referenceRule)){
                    let selectedSelfRule = this.selectedSelfRule;
                    selectedSelfRule.fixedPrice = parseFloat(selectedSelfRule.fixedPriceText) * 100;
                    this.requestData.items.push(selectedSelfRule);
                }
            }
        },

    });

    function saveOrUpdateHandler() {
        vue.saveOrEdit();
    }
</script>
