<#bs4Body>

<div class="container-fluid">
    <input type="hidden" id="_sourceChannel" value="<#config name='ia.source.channel.earnest_order'/>">
    <form id="saveForm" role="form" novalidate>
        <div class="row row-cols-4">
            <div class="form-group col">
                <label for="">卡号</label>
                <div class="input-group-append">
                    <input id="customerCardNo" required readonly="true" class="form-control" name="customerCardNo"
                           maxlength="100">
                    <span class="input-group-text card-bt text-primary" id="payByCard"><a
                            href="javascript:;">刷卡</a></span>
                    <input id="id" readonly="true" required class="form-control" name="applyId" maxlength="100" hidden>
                    <input id="code" readonly="true" required class="form-control" name="applyCode" maxlength="100"
                           hidden>
                    <input id="sid" readonly="true" required class="form-control" name="id" maxlength="100" hidden>
                </div>
            </div>
            <div class="form-group col">
                <label for="">客户编号</label>
                <input id="customerCode" required readonly="true" class="form-control" name="customerCode"
                       maxlength="100">
                <input id="customerId" required class="form-control" name="customerId" hidden="true" maxlength="100">
            </div>
            <div class="form-group col">
                <label for="">客户名称</label>
                <input id="customerName" required readonly="true" class="form-control" name="customerName"
                       maxlength="100">
            </div>
            <div class="form-group col"></div>
            <div class="form-group col">
                <label for="">办理业务</label>
                <input id="bizType" readonly="true" class="form-control" maxlength="100">
                <input id="bizTypeId" readonly="true" name="bizType" class="form-control" maxlength="100" hidden="true">
            </div>
            <div class="form-group col">
                <label for="">车辆类型</label>
                <!--<input id="carTypeName" class="form-control" name="carTypeName" readonly="true" maxlength="100"-->
                <!--required>-->
                <!--<input id="carTypeId" class="form-control" readonly="true" name="carTypeId" maxlength="100" required-->
                <!--hidden>-->
                <#bautoCompleteProvider _hiddenDomainClass="form-control" _hiddenDomainId="carTypeId"
                _hiddenDomainName="carTypeId" _displayDomainId="_carTypeId" _displayDomainName="_carTypeId"
                _placeholder="" _provider="carTypeProvider" _validatorMethod="isSelected" _value="" _text=""
                _required="true"/>
            </div>
            <div class="form-group col">
                <label for="">车牌号</label>
                <input id="plate" class="form-control" name="plate" maxlength="8" minlength="3" required>
            </div>
            <div class="form-group col">
                <label for="">交易类型</label>
                <input id="transTypeId" class="form-control" required readonly="true" name="transTypeId" hidden
                       maxlength="100">
                <input id="transTypeName" class="form-control" required readonly="true" maxlength="100">
            </div>
            <div class="form-group col">
                <label for="">商品名称</label>
                <input id="categoryName" class="form-control" required readonly="true" name="categoryName"
                       maxlength="100">
                <input id="categoryId" class="form-control" required readonly="true" name="categoryId" maxlength="100"
                       hidden>
            </div>
            <div class="form-group col">
                <label for="">毛重/公斤<i class="red">*</i></label>
                <input type="text" id="grossWeight"  required="true" class="form-control isNaturalNum" name="grossWeight"
                       maxlength="100" range="1 100000">
            </div>
            <div class="form-group col">
                <label for="">皮重/公斤<i class="red">*</i></label>
                <input type="text" id="tareWeight"  required="true" class="form-control isNaturalNum" name="tareWeight"
                       maxlength="100" range="1 100000">
            </div>
            <div class="form-group col">
                <label for="">净重/公斤</label>
                <input id="netWeight"  class="form-control isNaturalNum"  readonly="true" name="netWeight" maxlength="100" required>
            </div>
            <div class="form-group col">
                <label for="">可用余额</label>
                <input id="balance" class="form-control" readonly="true" name="balance" maxlength="100" required>
            </div>
            <div class="form-group col">
                <label for="">缴费金额</label>
                <input id="chargeAmount1" class="form-control" readonly="true" maxlength="100" required>
                <input id="chargeAmount" class="form-control" readonly="true" name="chargeAmount" maxlength="100"
                       hidden required>
            </div>
        </div>
    </form>
</div>
</#bs4Body>

<script>
    $(function () {
        $('#grossWeight').on('keyup', function (e) {
            let num = parseInt($('#grossWeight').val() == null ? 0 : $('#grossWeight').val()) - parseInt($('#tareWeight').val() == null ? 0 : $('#tareWeight').val());
            if (!isNaN(num)) {
                //如果净重小于零，则不行
                if (num < 0) {
                    bs4pop.alert('净重不能小于0', {type: 'error'});
                }
                $('#netWeight').val(num);
            }
            let netWeight = $('#netWeight').val();
            let id = $('#id').val();
            $.ajax({
                type: "POST",
                data: {netWeight: netWeight, id: id},
                dataType: "json",
                url: "/transitionDepartureSettlement/fee.action",
                async: true,
                success: function (res) {
                    if (res.code == "200") {
                        $('#chargeAmount1').val(res.data.totalFee);
                        $('#chargeAmount').val(res.data.totalFee * 100);
                    }
                },
            });
        })
        $('#tareWeight').on('keyup', function (e) {
            let num = parseInt($('#grossWeight').val() == null ? 0 : $('#grossWeight').val()) - parseInt($('#tareWeight').val() == null ? 0 : $('#tareWeight').val());
            if (!isNaN(num)) {
                //如果净重小于零，则不行
                if (num < 0) {
                    bs4pop.alert('净重不能小于0', {type: 'error'});
                }
                $('#netWeight').val(num);
            }
            let netWeight = $('#netWeight').val();
            let id = $('#id').val();
            $.ajax({
                type: "POST",
                data: {netWeight: netWeight, id: id},
                dataType: "json",
                url: "/transitionDepartureSettlement/fee.action",
                async: true,
                success: function (res) {
                    if (res.code == "200") {
                        $('#chargeAmount1').val(res.data.totalFee);
                        $('#chargeAmount').val(res.data.totalFee * 100);
                    }
                },
            });
        })

        $('#payByCard').on('click', function (e) {
            let cardNum = callbackObj.readCardNumber();
            if (cardNum == -1) {
                bs4pop.alert('净重不能小于0', {type: 'error'});
                return false;
            }
            $('#customerCardNo').val(cardNum);
            $.ajax({
                type: "POST",
                data: {customerCardNo: cardNum},
                dataType: "json",
                url: "/transitionDepartureApply/getOneByCustomerCardNo.action",
                async: true,
                success: function (res) {
                    if (res.code == "200") {
                        $('#id').val(res.data.id);
                        $('#code').val(res.data.code);
                        $('#sid').val(res.data.transitionDepartureSettlement.id);
                        $('#customerCode').val(res.data.customerCode);
                        $('#customerId').val(res.data.customerId);
                        $('#customerName').val(res.data.customerName);
                        $('#bizType').val(res.data.bizType);
                        $('#bizTypeId').val(res.data.$_bizType);

                        $('#carTypeId').val(res.data.$_carTypeId);
                        $('#_carTypeId').val(res.data.carTypeId);

                        $('#plate').val(res.data.plate);
                        $('#transTypeId').val(res.data.$_transTypeId);
                        $('#transTypeName').val(res.data.transTypeId);
                        $('#categoryName').val(res.data.categoryId);
                        $('#categoryId').val(res.data.$_categoryId);
                        $('#grossWeight').val(res.data.transitionDepartureSettlement.grossWeight);
                        $('#tareWeight').val(res.data.transitionDepartureSettlement.tareWeight);
                        $('#netWeight').val(res.data.transitionDepartureSettlement.netWeight);
                        if (!isNaN(res.data.transitionDepartureSettlement.chargeAmount)) {
                            $('#chargeAmount1').val(res.data.transitionDepartureSettlement.chargeAmount / 100);
                            $('#chargeAmount').val(res.data.transitionDepartureSettlement.chargeAmount);
                        }
                    } else {
                        bui.loading.hide();
                        bs4pop.alert(res.result, {type: 'error'});
                    }
                },
            });
            $.ajax({
                type: "POST",
                data: {customerCardNo: cardNum},
                dataType: "json",
                url: "/transitionDepartureSettlement/queryAccountBalance.action",
                async: false,
                success: function (res) {
                    if (res.code == "200") {
                        $('#balance').val(res.data);
                    }
                },
            });
        });


    })

    function saveOrUpdateHandler() {
        let url = 'insert';
        // 提交保存
        if (!$('#saveForm').validate().form()) {
            return false;
        }
        let netWeight = $('#netWeight').val();
        let chargeAmount = $('#chargeAmount').val();
        if (netWeight < 0) {
            bs4pop.alert('净重不能小于0', {type: 'error'});
            return false;
        }
        if (chargeAmount < 0) {
            bs4pop.alert('收费金额不能小于0', {type: 'error'});
            return false;
        }
        let balance = $('#balance').val();
        let chargeAmount1=$('#chargeAmount1').val();
        if (parseFloat(chargeAmount1) > parseFloat(balance)) {
            bs4pop.alert('余额不足请充值', {type: 'error'});
            return false;
        }

        if ($('#sid').val() != null && $('#sid').val() != '') {
            url = "update";
        }
        let _formData = new FormData($('#saveForm')[0]);
        bui.loading.show('努力提交中，请稍候。。。');
        $.ajax({
            type: "POST",
            url: "/transitionDepartureSettlement/" + url + ".action",
            data: _formData,
            processData: false,
            contentType: false,
            async: true,
            success: function (res) {
                bui.loading.hide();
                if (res.code == "200") {
                    parent.dia.hide();
                    parent.verificationUsernamePassword(res.data.id);
                } else {
                    bui.loading.hide();
                    bs4pop.alert(res.result, {type: 'error'});
                }
            },
            error: function (error) {
                bui.loading.hide();
                bs4pop.alert(error.result, {type: 'error'});
            }
        });
    }

    // function isLicenseNo(str) {
    //     return /(^[\u4E00-\u9FA5]{1}[A-Z0-9]{6}$)|(^[A-Z]{2}[A-Z0-9]{2}[A-Z0-9\u4E00-\u9FA5]{1}[A-Z0-9]{4}$)|(^[\u4E00-\u9FA5]{1}[A-Z0-9]{5}[挂学警军港澳]{1}$)|(^[A-Z]{2}[0-9]{5}$)|(^(08|38){1}[A-Z0-9]{4}[A-Z0-9挂学警军港澳]{1}$)/.test(str);
    // }
</script>