<#bs4Body>

<div class="container-fluid pb-5">
    <input type="hidden" id="_sourceChannel" value="<#config name='ia.source.channel.earnest_order'/>">
    <form id="saveForm" role="form" novalidate class="pb-5">
        <div class="row row-cols-3">
            <div class="form-group col">
                <label for="">卡号</label>
                <div class="input-group">
                    <input id="customerCardNo" required readonly="true" class="form-control" name="customerCardNo"
                           maxlength="100">
                    <!--<input id="id" readonly="true" required class="form-control" name="applyId" maxlength="100" hidden>-->
                    <input id="code" readonly="true" required class="form-control" name="applyCode" maxlength="100"
                           hidden>
                    <input id="sid" readonly="true" required class="form-control" name="id" maxlength="100" hidden>
                    <input id="customerCode" required readonly="true" class="form-control" name="customerCode" hidden="true" maxlength="100">
                    <input id="customerId" required class="form-control" name="customerId" hidden="true" maxlength="100">
                    <div class="input-group-append">
                         <span class="input-group-text card-bt" id="payByCard"><a
                                 href="javascript:;" style=" text-decoration: none;" data-hotkey="{key:'Ctrl+D'}">刷卡</a></span>
                    </div>
                </div>

            </div>
            <div class="form-group col">
                <label for="">客户名称</label>
                <input id="customerName" required readonly="true" class="form-control" name="customerName"
                       maxlength="100">
            </div>
            <div class="form-group col">
                <label for="">申请单号</label>
                <select id="id" name="applyId" class="form-control" required focus-shift>
                    <option value="">-- 请选择 --</option>
                </select>
            </div>
            <div class="form-group col">
                <label for="">办理业务</label>
                <input id="bizType" readonly="true" required class="form-control" maxlength="100">
                <input id="bizTypeId" readonly="true" name="bizType" required class="form-control" maxlength="100"
                       hidden="true">
            </div>
            <div class="form-group col">
                <label for="">车辆类型</label>
                <select id="carTypeId" name="carTypeId" class="form-control" required focus-shift></select>
                <#bselect2 _id="carTypeId" _mode="remote"  _provider="carTypeProvider"/>
            </div>
            <div class="form-group col">
                <label for="">车牌号</label>
                <input id="plate" class="form-control" name="plate" maxlength="8" minlength="3" required focus-shift>
            </div>
            <div class="form-group col">
                <label for="">交易类型</label>
                <input id="transTypeId" class="form-control" required readonly name="transTypeId" hidden
                       maxlength="100">
                <input id="transTypeName" class="form-control" required readonly maxlength="100">
            </div>
            <div class="form-group col">
                <label for="">商品名称</label>
                <input id="categoryName" class="form-control" required readonly="true" name="categoryName"
                       maxlength="100">
                <input id="categoryId" class="form-control" required readonly="true" name="categoryId" maxlength="100"
                       hidden>
            </div>
            <div class="form-group col">
                <label for="">毛重/公斤<i class="red">*</i></label>
                <input type="text" id="grossWeight" required="true" class="form-control isNaturalNum" name="grossWeight"
                       maxlength="100" range="1 999999">
            </div>
            <div class="form-group col">
                <label for="">皮重/公斤<i class="red">*</i></label>
                <input type="text" id="tareWeight" required="true" class="form-control isNaturalNum" name="tareWeight" focus-shift
                       maxlength="100" range="1 999999">
            </div>
            <div class="form-group col">
                <label for="">净重/公斤</label>
                <input id="netWeight" class="form-control isNaturalNum" readonly="true" name="netWeight" maxlength="100" focus-shift
                       required>
            </div>
            <div class="form-group col">
                <label for="">可用余额</label>
                <input id="balance" class="form-control" readonly="true" name="balance" maxlength="100" required>
            </div>
            <div class="form-group col">
                <label for="">缴费金额</label>
                <input id="chargeAmount1" class="form-control" readonly="true" maxlength="100" required>
                <input id="chargeAmount" class="form-control" readonly="true" name="chargeAmount" maxlength="100"
                       hidden required>
            </div>
        </div>
        <div class="modal-footer-wrap">
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary px-5" onclick="javascript: parent.dia.hide()" data-hotkey="{key: 'Ctrl+E'}">取消</button>
                <button type="button" class="btn btn-primary px-5" onclick="bui.util.debounce(saveOrUpdateHandler,1000,true)()" id="formSubmit" data-hotkey="{key: 'Ctrl+S'}">确定</button>
            </div>
        </div>
    </form>
</div>
</#bs4Body>

<script>
    $(function () {

        $('#id').on("change", function (e) {
            if ($(this).val() == undefined || $(this).val() == null || $(this).val() == '') {
                bs4pop.alert("请选择申请单号", {type: 'error'});
                $('#code').val('');
                $('#sid').val('');
                $('#bizType').val('');
                $('#bizTypeId').val('');
                $('#carTypeId').val('').trigger('change');
                $('#_carTypeId').val('');
                $('#plate').val('');
                $('#transTypeId').val('');
                $('#transTypeName').val('');
                $('#categoryName').val('');
                $('#categoryId').val('');
                $('#grossWeight').val('');
                $('#tareWeight').val('');
                $('#netWeight').val('');
                $('#chargeAmount1').val('');
                $('#chargeAmount').val('');
                return false;
            }
            $.ajax({
                type: "POST",
                data: {id: $(this).val()},
                dataType: "json",
                url: "/transitionDepartureApply/applyAndSettleById.action",
                async: true,
                success: function (res) {
                    if (res.code == "200") {
                        $('#code').val(res.data.code);
                        $('#sid').val(res.data.transitionDepartureSettlement.id);

                        $('#bizType').val(res.data.bizType);
                        $('#bizTypeId').val(res.data.$_bizType);

                        var carTypeIdOption = new Option(res.data.carTypeId, res.data.$_carTypeId, true, true);
                        $('#carTypeId').append(carTypeIdOption).trigger('change');

                        $('#plate').val(res.data.plate);
                        $('#transTypeId').val(res.data.$_transTypeId);
                        $('#transTypeName').val(res.data.transTypeId);
                        $('#categoryName').val(res.data.categoryId);
                        $('#categoryId').val(res.data.$_categoryId);
                        $('#grossWeight').val(res.data.transitionDepartureSettlement.grossWeight);
                        $('#tareWeight').val(res.data.transitionDepartureSettlement.tareWeight);
                        $('#netWeight').val(res.data.transitionDepartureSettlement.netWeight);
                        if (!isNaN(res.data.transitionDepartureSettlement.chargeAmount)) {
                            $('#chargeAmount1').val(res.data.transitionDepartureSettlement.chargeAmount / 100);
                            $('#chargeAmount').val(res.data.transitionDepartureSettlement.chargeAmount);
                        }
                    } else {
                        bui.loading.hide();
                        bs4pop.alert(res.result, {type: 'error'});
                    }
                },
                error: function () {
                    bui.loading.hide();
                    bs4pop.alert("根据卡号获取申请单信息失败!", {type: 'error'});
                }
            });
        });

        $('#grossWeight').on('keyup', function (e) {
            let num = parseInt($('#grossWeight').val() == null ? 0 : $('#grossWeight').val()) - parseInt($('#tareWeight').val() == null ? 0 : $('#tareWeight').val());
            if (!isNaN(num)) {
                //如果净重小于零，则不行
                if (parseInt(num) < 0) {
                    bs4pop.alert('净重不能小于0', {type: 'error'});
                    $('#netWeight').val(num);
                    return false;
                }
                $('#netWeight').val(num);
                let id = $('#id').val();
                let carTypeId = $('#carTypeId').val();
                $.ajax({
                    type: "POST",
                    data: {netWeight: num, id: id, carTypeId: carTypeId},
                    dataType: "json",
                    url: "/transitionDepartureSettlement/fee.action",
                    async: true,
                    success: function (res) {
                        if (res.code == "200") {
                            $('#chargeAmount1').val(res.data.totalFee);
                            $('#chargeAmount').val(parseInt(res.data.totalFee * 100));
                        } else {
                            bui.loading.hide();
                            bs4pop.alert(res.result, {type: 'error'});
                        }
                    },
                    error: function () {
                        bui.loading.hide();
                        bs4pop.alert("计费规则获取失败!", {type: 'error'});
                    }
                });
            }else{
                $('#netWeight').val("");
            }
        })
        $('#tareWeight').on('keyup', function (e) {
            let num = parseInt($('#grossWeight').val() == null ? 0 : $('#grossWeight').val()) - parseInt($('#tareWeight').val() == null ? 0 : $('#tareWeight').val());
            if (!isNaN(num)) {
                //如果净重小于零，则不行
                if (parseInt(num) < 0) {
                    bs4pop.alert('净重不能小于0', {type: 'error'});
                    $('#netWeight').val(num);
                    return false;
                }
                $('#netWeight').val(num);
                let id = $('#id').val();
                let carTypeId = $('#carTypeId').val();
                $.ajax({
                    type: "POST",
                    data: {netWeight: num, id: id, carTypeId: carTypeId},
                    dataType: "json",
                    url: "/transitionDepartureSettlement/fee.action",
                    async: true,
                    success: function (res) {
                        if (res.code == "200") {
                            $('#chargeAmount1').val(res.data.totalFee);
                            $('#chargeAmount').val(parseInt(res.data.totalFee * 100));
                        } else {
                            bui.loading.hide();
                            bs4pop.alert(res.result, {type: 'error'});
                        }
                    },
                    error: function () {
                        bui.loading.hide();
                        bs4pop.alert("计费规则获取失败!", {type: 'error'});
                    }
                });
            }else{
                $('#netWeight').val("");
            }
        })
        $('#payByCard').on('click', function (e) {
            let flag = false;
            // let cardNum = callbackObj.readCardNumber();
            // if (cardNum == -1 || cardNum == "") {
            //     bs4pop.alert('未读取到卡号', {type: 'error'});
            //     return false;
            // }
            let cardNum;
            let json = JSON.parse(callbackObj.readCardNumber());
            if (json.code == 0) {
                cardNum = json.data;
            } else {
                bs4pop.alert(json.message, {type: "error"});
                return false;
            }

            $('#code').val('');
            $('#sid').val('');

            $('#bizType').val('');
            $('#bizTypeId').val('');

            $('#carTypeId').val('').trigger('change');
            $('#_carTypeId').val('');

            $('#plate').val('');
            $('#transTypeId').val('');
            $('#transTypeName').val('');
            $('#categoryName').val('');
            $('#categoryId').val('');
            $('#grossWeight').val('');
            $('#tareWeight').val('');
            $('#netWeight').val('');
            $('#chargeAmount1').val('');
            $('#chargeAmount').val('');

            $('#customerCardNo').val(cardNum);
            $.ajax({
                type: "POST",
                data: {customerCardNo: cardNum},
                dataType: "json",
                url: "/transitionDepartureSettlement/queryAccountBalance.action",
                async: false,
                success: function (res) {
                    if (res.code == "200") {
                        $('#balance').val(res.data.balance);
                        $('#customerCode').val(res.data.customerCode);
                        $('#customerId').val(res.data.customerId);
                        $('#customerName').val(res.data.customerName);
                        serachSec(cardNum);
                        flag = true;
                    } else {
                        bs4pop.alert(res.result, {type: 'error'});
                    }
                },
                error: function () {
                    bui.loading.hide();
                    bs4pop.alert("余额获取失败!", {type: 'error'});
                }
            });
        });


    })

    function serachSec(value) {
        let targetId = $('#id');
        targetId.empty();
        let datas = ["<option value=''>" + '-- 请选择 --' + "</option>"];
        let num = 0;
        let applyId;
        $.ajax({
            type: "POST",
            url: "/transitionDepartureApply/listByCustomerCardNo.action",
            data: {"customerCardNo": value},
            async: false,
            success: function (res) {
                bui.loading.hide();
                if (res.code == "200") {
                    $.each(res.data, function (i, item) {
                        num++;
                        applyId = item.id;
                        datas.push('<option value="' + item.id + '">' + item.code + '</option>');
                    });
                } else {
                    bs4pop.alert(res.result, {type: 'error'});
                }
            },
            error: function (error) {
                bs4pop.alert(error.result, {type: 'error'});
            }
        });
        targetId.html(datas.join(''));
        if (num == 1) {
            $("#id option:nth-child(2)").prop("selected", 'selected');
            $.ajax({
                type: "POST",
                data: {id: applyId},
                dataType: "json",
                url: "/transitionDepartureApply/applyAndSettleById.action",
                async: true,
                success: function (res) {
                    if (res.code == "200") {
                        $('#code').val(res.data.code);
                        $('#sid').val(res.data.transitionDepartureSettlement.id);

                        $('#bizType').val(res.data.bizType);
                        $('#bizTypeId').val(res.data.$_bizType);

                        var carTypeIdOption = new Option(res.data.carTypeId, res.data.$_carTypeId, true, true);
                        $('#carTypeId').append(carTypeIdOption).trigger('change');

                        $('#plate').val(res.data.plate);
                        $('#transTypeId').val(res.data.$_transTypeId);
                        $('#transTypeName').val(res.data.transTypeId);
                        $('#categoryName').val(res.data.categoryId);
                        $('#categoryId').val(res.data.$_categoryId);
                        $('#grossWeight').val(res.data.transitionDepartureSettlement.grossWeight);
                        $('#tareWeight').val(res.data.transitionDepartureSettlement.tareWeight);
                        $('#netWeight').val(res.data.transitionDepartureSettlement.netWeight);
                        if (!isNaN(res.data.transitionDepartureSettlement.chargeAmount)) {
                            $('#chargeAmount1').val(res.data.transitionDepartureSettlement.chargeAmount / 100);
                            $('#chargeAmount').val(res.data.transitionDepartureSettlement.chargeAmount);
                        }
                    } else {
                        bui.loading.hide();
                        bs4pop.alert(res.result, {type: 'error'});
                    }
                },
                error: function () {
                    bui.loading.hide();
                    bs4pop.alert("根据卡号获取申请单信息失败!", {type: 'error'});
                }
            });
        }
    };

    function saveOrUpdateHandler() {

        let url = 'insert';
        // 提交保存
        if (!$('#saveForm').validate().form()) {
            return false;
        }
        let netWeight = parseInt($('#netWeight').val());
        let chargeAmount = $('#chargeAmount').val();
        if (netWeight < 0) {
            bs4pop.alert('净重不能小于0', {type: 'error'});
            return false;
        }
        if (chargeAmount < 0) {
            bs4pop.alert('收费金额不能小于0', {type: 'error'});
            return false;
        }
        let balance = $('#balance').val();
        let chargeAmount1 = $('#chargeAmount1').val();
        if (parseFloat(chargeAmount1) > parseFloat(balance)) {
            bs4pop.alert('余额不足请充值', {type: 'error'});
            return false;
        }

        if ($('#sid').val() != null && $('#sid').val() != '') {
            url = "update";
        }
        let _formData = new FormData($('#saveForm')[0]);
        bui.loading.show('努力提交中，请稍候。。。');
        $.ajax({
            type: "POST",
            url: "/transitionDepartureSettlement/" + url + ".action",
            data: _formData,
            processData: false,
            contentType: false,
            async: true,
            success: function (res) {
                bui.loading.hide();
                if (res.code == "200") {
                    parent.dia.hide();
                    parent.verificationUsernamePassword(res.data.id);
                } else {
                    bui.loading.hide();
                    bs4pop.alert(res.result, {type: 'error'});
                }
            },
            error: function (error) {
                bui.loading.hide();
                bs4pop.alert(error.result, {type: 'error'});
            }
        });
    }

</script>