<#bs4Body>

<div class="container-fluid">
    <input type="hidden" id="_sourceChannel" value="<#config name='ia.source.channel.earnest_order'/>">
    <form id="saveForm" role="form" novalidate>
        <div class="row row-cols-4">
            <div class="form-group col-4">
                <label for="">卡号</label>
                <div class="input-group-append">
                    <input id="customerCardNo" readonly="true" class="form-control" name="customerCardNo"
                           maxlength="100">
                    <span class="input-group-text card-bt text-primary" id="payByCard"><a
                            href="javascript:;">刷卡</a></span>
                    <input id="id" readonly="true" class="form-control" name="applyId" maxlength="100" hidden>
                    <input id="code" readonly="true" class="form-control" name="applyCode" maxlength="100" hidden>
                    <input id="sid" readonly="true" class="form-control" name="id" maxlength="100" hidden>
                </div>
            </div>
            <div class="form-group col">
                <label for="">客户编号</label>
                <input id="customerCode" readonly="true" class="form-control" name="customerCode" maxlength="100">
                <input id="customerId" class="form-control" name="customerId" hidden="true" maxlength="100">
            </div>
            <div class="form-group col">
                <label for="">客户名称</label>
                <input id="customerName" readonly="true" class="form-control" name="customerName" maxlength="100">
            </div>
            <div class="form-group col">
                <label for="">办理业务</label>
                <input id="bizType" readonly="true" class="form-control" maxlength="100">
                <input id="bizTypeId" readonly="true" name="bizType" class="form-control" maxlength="100" hidden="true">
            </div>
            <div class="form-group col">
                <label for="">车辆类型</label>
                <!--<input id="carTypeName" class="form-control" name="carTypeName" readonly="true" maxlength="100"-->
                       <!--required>-->
                <!--<input id="carTypeId" class="form-control" readonly="true" name="carTypeId" maxlength="100" required-->
                       <!--hidden>-->
                <#bautoCompleteProvider _hiddenDomainClass="form-control" _hiddenDomainId="carTypeId" _hiddenDomainName="carTypeId" _displayDomainId="_carTypeId" _displayDomainName="_carTypeId" _placeholder="" _provider="carTypeProvider" _validatorMethod="isSelected" _value="" _text="" _required="true"/>
            </div>
            <div class="form-group col">
                <label for="">车牌号</label>
                <input id="plate" class="form-control" name="plate" maxlength="100" required>
            </div>
            <div class="form-group col">
                <label for="">交易类型</label>
                <input id="transTypeId" class="form-control" readonly="true" name="transTypeId" hidden maxlength="100">
                <input id="transTypeName" class="form-control" readonly="true" maxlength="100">
            </div>
            <div class="form-group col">
                <label for="">商品名称</label>
                <input id="categoryName" class="form-control" readonly="true" name="categoryName" maxlength="100">
                <input id="categoryId" class="form-control" readonly="true" name="categoryId" maxlength="100" hidden>
            </div>
            <div class="form-group col">
                <label for="">毛重<i class="red">*</i></label>
                <input id="grossWeight" type="number" class="form-control" name="grossWeight" maxlength="100">
            </div>
            <div class="form-group col">
                <label for="">皮重<i class="red">*</i></label>
                <input id="tareWeight" type="number" class="form-control" name="tareWeight" maxlength="100">
            </div>
            <div class="form-group col">
                <label for="">净重</label>
                <input id="netWeight" type="number" class="form-control" readonly="true" name="netWeight"
                       maxlength="100">
            </div>
            <div class="form-group col">
                <label for="">可用余额</label>
                <input id="balance" class="form-control" readonly="true" name="balance" maxlength="100">
            </div>
            <div class="form-group col">
                <label for="">缴费金额</label>
                <input id="chargeAmount" class="form-control" readonly="true" name="chargeAmount" maxlength="100">
            </div>
        </div>
    </form>
</div>
</#bs4Body>

<script>
    $(function () {
        $('#grossWeight').on('keyup', function (e) {
            $('#netWeight').val(parseFloat($('#grossWeight').val() == null ? 0 : $('#grossWeight').val()) - parseFloat($('#tareWeight').val() == null ? 0 : $('#tareWeight').val()));
            let netWeight = $('#netWeight').val();
            let id = $('#id').val();
            $.ajax({
                type: "POST",
                data: {netWeight: netWeight, id: id},
                dataType: "json",
                url: "/transitionDepartureSettlement/fee.action",
                async: true,
                success: function (res) {
                    if (res.code == "200") {
                        $('#chargeAmount').val(res.data.totalFee);
                    }
                },
            });
        })
        $('#tareWeight').on('keyup', function (e) {
            $('#netWeight').val(parseFloat($('#grossWeight').val() == null ? 0 : $('#grossWeight').val()) - parseFloat($('#tareWeight').val() == null ? 0 : $('#tareWeight').val()));
            let netWeight = $('#netWeight').val();
            let id = $('#id').val();
            $.ajax({
                type: "POST",
                data: {netWeight: netWeight, id: id},
                dataType: "json",
                url: "/transitionDepartureSettlement/fee.action",
                async: true,
                success: function (res) {
                    if (res.code == "200") {
                        $('#chargeAmount').val(res.data.totalFee);
                    }
                },
            });
        })

        $('#payByCard').on('click', function (e) {
            let cardNum = callbackObj.readCardNumber();
            if(cardNum == -1){
                bs4pop.alert("未读取到卡号", {type: 'error'});
                return false;
            }
            $('#customerCardNo').val(cardNum);
            $.ajax({
                type: "POST",
                data: {customerCardNo: cardNum},
                dataType: "json",
                url: "/transitionDepartureApply/getOneByCustomerCardNo.action",
                async: true,
                success: function (res) {
                    if (res.code == "200") {
                        $('#id').val(res.data.id);
                        $('#code').val(res.data.code);
                        $('#sid').val(res.data.transitionDepartureSettlement.id);
                        $('#customerCode').val(res.data.customerCode);
                        $('#customerId').val(res.data.customerId);
                        $('#customerName').val(res.data.customerName);
                        $('#bizType').val(res.data.bizType);
                        $('#bizTypeId').val(res.data.$_bizType);

                        $('#carTypeId').val(res.data.$_carTypeId);
                        $('#_carTypeId').val(res.data.carTypeId);

                        $('#plate').val(res.data.plate);
                        $('#transTypeId').val(res.data.$_transTypeId);
                        $('#transTypeName').val(res.data.transTypeId);
                        $('#categoryName').val(res.data.categoryId);
                        $('#categoryId').val(res.data.$_categoryId);
                        $('#grossWeight').val(res.data.transitionDepartureSettlement.grossWeight);
                        $('#tareWeight').val(res.data.transitionDepartureSettlement.tareWeight);
                        $('#netWeight').val(res.data.transitionDepartureSettlement.netWeight);
                        $('#chargeAmount').val(res.data.transitionDepartureSettlement.chargeAmount);
                    }else {
                        bui.loading.hide();
                        bs4pop.alert(res.result, {type: 'error'});
                    }
                },
            });
            $.ajax({
                type: "POST",
                data: {customerCardNo: cardNum},
                dataType: "json",
                url: "/transitionDepartureSettlement/queryAccountBalance.action",
                async: false,
                success: function (res) {
                    if (res.code == "200") {
                        $('#balance').val(res.data.accountFund.balance/100);
                    }
                },
            });
        });


    })

    function saveOrUpdateHandler() {
        let url = 'insert';
        // 提交保存
        if (!$('#saveForm').validate().form()) {
            return false;
        }
        if ($('#sid').val() != null && $('#sid').val() != '') {
            url = "update";
        }
        let _formData = new FormData($('#saveForm')[0]);
        bui.loading.show('努力提交中，请稍候。。。');
        $.ajax({
            type: "POST",
            url: "/transitionDepartureSettlement/" + url + ".action",
            data: _formData,
            processData: false,
            contentType: false,
            async: true,
            success: function (res) {
                bui.loading.hide();
                if (res.code == "200") {
                    bs4pop.alert('成功', {type: 'success'}, function () {
                        parent.dia.hide();
                        if(parseFloat($('#balance').val())>=parseFloat($('#chargeAmount').val())){
                            parent.verificationUsernamePassword(res.data.id);
                        }else{
                            bs4pop.alert("余额不足，请充值", {type: 'error'});
                        }
                    });
                } else {
                    bui.loading.hide();
                    bs4pop.alert(res.result, {type: 'error'});
                }
            },
            error: function (error) {
                bui.loading.hide();
                bs4pop.alert(error.result, {type: 'error'});
            }
        });
    }

</script>