<#bs4Body>
<div class="container-fluid">

	<form class="form" id="queryForm" role="form">
		<div class="row row-cols-6">
			<div class="form-group col">
				<label for="">审核状态</label> <select id="state" name="state" class="form-control">
				</select>
				<#bcomboProvider _id="state" _provider="priceStateProvider" _queryParams='{emptyText:"-- 全部 --"}' />
			</div>
			<div class="form-group col">
				<label for="">交易类型</label> <select id="tradeType" name="tradeType" class="form-control">
				</select>
				<#bcomboProvider _id="tradeType" _provider="tradeTypeCodeProvider" />
			</div>
			<div class="form-group col">
				<label for="">商品名称</label> <input type="text" class="form-control" name="goodsSplitStr" placeholder="">
			</div>
			<div class="form-group col">
				<label for="">过磅单号</label> <input type="text" class="form-control" name="weighingBillSerialNo" placeholder="">
			</div>
			<div class="form-group col-auto" style="width: 350px">
				<label for="sellerName" class="">卖方</label>
				<div class="input-group">
					<#bautoCompleteProvider _hiddenDomainId="sellerId" _hiddenDomainName="sellerId" _displayDomainId="sellerCode" _displayDomainName="sellerCode" _placeholder=""
						_optionVariable="sellerNameQueryAutoCompleteOption" />
					<input type="text" class="form-control" id="show_seller_name" readonly />
				</div>
			</div>
			<div class="form-group col-auto">
				<label for="">过磅时间</label>
				<div class="form-inline">
					<div class="input-group">
						<input type="text" value="${weighingStartTime!}" name="weighingStartTime" id="weighingStartTime" class="form-control laydatetime laystart" />
						<div class="input-group-append">
							<label for="weighingStartTime" class="input-group-text fa fa-calendar"></label>
						</div>
					</div>
					&nbsp;&nbsp;至&nbsp;&nbsp;
					<div class="input-group">
						<input type="text" value="${weighingEndTime!}" name="weighingEndTime" id="weighingEndTime" class="form-control laydatetime layend" value="" />
						<div class="input-group-append">
							<label for="weighingEndTime" class="input-group-text fa fa-calendar"></label>
						</div>
					</div>
				</div>
			</div>
			<div class="col-auto align-self-center mt-3">
				<button type="button" class="btn btn-outline-primary mr-2" onclick="javascript:$('#queryForm input').val('');">
					<i class="fa fa-refresh"></i> 清空
				</button>
				<button type="button" class="btn btn-outline-primary mr-2" onclick="queryDataHandler()">
					<i class="fa fa-search"></i> 查询
				</button>
			</div>
		</div>
	</form>

	<hr>
	<div class="row">
		<div class="col-12">
			<div id="toolbar" class="btn-group" role="group" aria-label="Toolbar with button groups">
				<#resource code="truck_add">
				<button id="btn_approve" type="button" class="btn btn-primary" onclick="approve()">
					<i class="fa fa-plus"></i> 审核确认
				</button>
				</#resource>
				<#resource code="truck_off">
				<button id="export" type="button" class="btn btn-primary" onclick="bui.util.doExport('grid','queryForm')">
					<i class="fa fa-download"></i> 导出
				</button>
				</#resource>
			</div>
			<table id="grid" data-toggle="table" data-title="过磅单列表" class="table" data-toolbar="#toolbar" data-pagination="true" data-page-number="1" data-page-size="10" data-query-params="queryParams"
				data-side-pagination="server" data-method="POST" data-content-type="application/x-www-form-urlencoded" data-single-select="true" data-click-to-select="true" data-checkbox-header="true"
				data-unique-id="id" data-sort-name="id" data-sort-order="desc" data-icons="bui.variable.icons" data-buttons-class="primary" data-show-refresh="true" data-show-fullscreen="true"
				data-show-columns="true">
				<thead>
					<tr>
						<th data-radio="true"></th>
						<th data-field="id" data-align="center" data-sortable="true">单据编号</th>
						<th data-field="weighingBillSerialNo" data-align="center" data-sortable="true">过磅单号</th>
						<th data-field="sellerName" data-align="center" data-sortable="true">卖方名称</th>
						<th data-field="sellerCardNo" data-align="center" data-sortable="true">卖方卡号</th>
						<th data-field="buyerName" data-align="center" data-sortable="true">买方名称</th>
						<th data-field="buyerCardNo" data-align="center" data-sortable="true">买方卡号</th>
						<th data-field="tradeType" data-align="center" data-sortable="true" data-provider="tradeTypeCodeProvider">交易类型</th>
						<th data-field="goodsName" data-align="center" data-sortable="true">商品</th>
						<th data-field="tradeWeight" data-align="center" data-sortable="true" data-provider="weightProvider">交易量/公斤</th>
						<th data-field="unitPrice" data-align="center" data-sortable="true" data-provider="moneyProvider">单价(元/斤)</th>
						<th data-field="referencePrice" data-align="center" data-sortable="true" data-provider="moneyProvider">参考最低价</th>
						<th data-field="state" data-align="center" data-sortable="true" data-provider="priceStateProvider">状态</th>
						<th data-field="approverName" data-align="center" data-sortable="true">审核员</th>
						<th data-field="approveTime" data-align="center" data-sortable="true" data-provider="datetimeProvider">审核时间</th>
						<th data-field="notes" data-align="center" data-sortable="true" data-provider="moneyProvider">备注</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>

</#bs4Body>

<div class="modal fade" id="_modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<!--modal-lg modal-sm(默认) 通过设置mw大小调整宽度（如mw-100） modal-dialog-centered垂直居中-->
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<!-- 标题 -->
				<h5 class="modal-title" id="exampleModalLabel"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body"></div>
		</div>
	</div>
</div>


<script type="text/javascript">
	<#priceApproveRecord_indexJs />
</script>