<#bs4Body>

<div class="container-fluid">
        <input type="hidden" id="_sourceChannel" value="<#config name='ia.source.channel.earnest_order'/>">
        <form id="saveForm" role="form" novalidate>
            <div class="row row-cols-3">
                <div class="form-group col">
                    <label for="">卡号<i class="red">*</i></label>
                    <div class="input-group">
                        <input id="customerCardNo" class="form-control" name="customerCardNo" required="true"  maxlength="12">
                        <div class="input-group-append">
                           <span class="input-group-text card-bt text-primary" id="payByCard"><a href="javascript:;" >刷卡</a></span>
                        </div>
                    </div>
                    <label for="" class="red">请输入正确的卡号按'Enter'键或者刷卡</label>
                </div>
                <div class="form-group col">
                    <label for="">客户名称</label>
                    <input id="customerName" readonly="true" class="form-control" name="customerName"  maxlength="40">
                    <input id="customerCode" hidden="true" class="form-control" name="customerCode">
                    <input id="customerId" class="form-control" name="customerId" hidden="true">
                </div>
                <div class="form-group col">
                    <label for="customerType">身份类型</label>
                    <input id="customerTypeView" class="form-control" readonly="true"  data-provider="customerTypeProvider">
                    <input id="customerType" class="form-control" name="customerType" hidden="true">
                </div>
            </div>
            <div class="row row-cols-3">
                <div class="form-group col">
                    <label for="">可用余额</label>
                    <input type="number" id="availableBalance" readonly="true" class="form-control"  maxlength="100">
                </div>
                <div class="form-group col">
                    <label for="">检测数量</label>
                    <input type="number" id="inspectionNum" readonly="true" class="form-control" name="inspectionNum"  maxlength="100">
                </div>
                <div class="form-group col">
                    <label for="">缴费金额</label>
                    <input type="number" id="chargeAmountView" readonly="true"  class="form-control"   maxlength="100">
                    <input type="number" hidden="true"  id="chargeAmount"  class="form-control" name="chargeAmount"  maxlength="100">
                </div>
            </div>
            <div class="row row-cols-3">
                <div class="form-group col">
                    <label for="plate">车牌号</label>
                    <input id="plate" class="form-control" name="plate"  maxlength="8">
                </div>
            </div>
            <div class="row row-cols-1">
                <div class="form-group col">
                    <label tlog  for="inspectionItem">商品名称<i class="red">*</i></label>
                    <select id="inspectionItem" name="inspectionItem" class="form-control" required="true"  multiple disabled></select>
                    <#bselect2 _id="inspectionItem" _mode="remote" _value="[2,4,8,55]" _option="" _text=""  _optionVariable="assetsNamesAutoCompleteOption" _required="true"/>
                </div>
            </div>
            <div class="row row-cols-1">
                <div class="form-group col">
                    <label for="remark">备注</label>
                    <input id="remark" class="form-control" name="remark"  maxlength="30">
                </div>
            </div>
            <div class="modal-footer-wrap">
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary px-5" onclick="javascript: parent.diaAdd.hide()" data-hotkey="{key: 'Ctrl+E'}">取消</button>
                    <button id="saveBtn" type="button" class="btn btn-primary px-5" onclick="bui.util.debounce(saveOrUpdateHandler,1000,true)()" id="formSubmit" data-hotkey="{key: 'Ctrl+S'}">下一步</button>
                </div>
            </div>
        </form>
    </div>
</#bs4Body>


    <script>
        var fee=0.00;
        //记录是否重新刷卡
        var reCardFlag=false;
        //记录成功的卡号
        var oldCardNum="";

        //初始化
        $(function () {
            $("#customerCardNo").val("8888");
            setTimeout(function(){
                $('#customerCardNo').focus();
            }, 500);
            $("#saveBtn").attr('disabled', true);
        })

        // 商品
        var assetsNamesAutoCompleteOption = {
            width: '100%',
            language: 'zh-CN',
            minimumInputLength:1,
            maximumSelectionLength: 20,
            allowClear : true,
            placeholder: '',
            ajax: {
                type:'post',
                url: '/assets/listNormal.action',
                    data: function (params) {
                    return {
                        keyword: params.term,
                    }
                },
                processResults: function (data) {
                    if(data.length){
                        return {
                            results: $.map(data, function (item) {
                                item.text =item.name ;
                                return item;
                            })
                        };
                    }
                }
            }
        }

        //商品选择监听事件
        $('#inspectionItem').on('change',function (data) {
            var items=$('#inspectionItem').val();
            var chargeAmount=fee*(items.length);
            $('#inspectionNum').val(items.length);
            $('#chargeAmountView').val(chargeAmount.toFixed(2));
            $('#chargeAmount').val(chargeAmount*100);
        });

        $("#customerCardNo").keypress(function (even) {
            if (even.which == 13) {
                let cardNum=$("#customerCardNo").val();
                var reg=/^([0-9]+|0)$/;
                if(cardNum.length!=12){
                    bs4pop.alert("卡号必须为12位！", {type: 'error'},function () {
                        setTimeout(function(){
                            $('#customerCardNo').focus();
                        }, 500)
                    });
                    return;
                }else if(!reg.test(cardNum)){
                    bs4pop.alert("卡号必须填写数字！", {type: 'error'},function () {
                        setTimeout(function(){
                            $('#customerCardNo').focus();
                        }, 500)
                    });
                    return;
                }else{
                    oldCardNum=cardNum;
                    //再次回车时将检测费用和缴费金额清0
                    if(reCardFlag==true){
                        $('#inspectionNum').val('');
                        $('#chargeAmountView').val('');
                        $('#chargeAmount').val('');
                        $('#inspectionItem').val(null).trigger('change');
                        fee=0.00;
                    }
                    bui.loading.show('努力获取数据中，请稍候。。。');
                    $.ajax({
                        type: "POST",
                        data:{cardNo:cardNum},
                        dataType:"json",
                        url: "/comprehensiveFee/listCustomerByCardNo.action",
                        async: true,
                        success: function (res) {
                            bui.loading.hide();
                            if (res.code == "200") {
                                reCardFlag=true;
                                $("#saveBtn").attr('disabled', false);
                                //赋值
                                $('#customerType').val(res.data[0].customerMarket.type);
                                $('#customerCardNo').val(cardNum);
                                $('#customerCode').val(res.data[0].code);
                                $('#customerId').val(res.data[0].id);
                                $('#customerName').val(res.data[0].name);
                                //存的临时翻译字段
                                $('#customerTypeView').val(res.data[0].customerMarket.notes);
                                //查询客户余额
                                $.ajax({
                                    type: "POST",
                                    data: {customerCardNo: cardNum},
                                    dataType: "json",
                                    url: "/comprehensiveFee/queryAccountBalance.action",
                                    async: false,
                                    success: function (resulst) {
                                        if (resulst.code == "200") {
                                            $('#availableBalance').val((resulst.data.accountFund.availableAmount/100).toFixed(2));
                                        }
                                    }
                                });
                                //查询计费规则
                                $.ajax({
                                    type: "POST",
                                    data: {customerId: res.data[0].id, type: res.data[0].customerMarket.type},
                                    dataType: "json",
                                    url: "/comprehensiveFee/fee.action",
                                    async: false,
                                    success: function (resulst) {
                                        if (resulst.code == "200") {
                                            if(resulst.data!=null&&resulst.data.length>0){
                                                for(var i=0;i<resulst.data.length;i++){
                                                    if(resulst.data[i].code!="200"){
                                                        bs4pop.alert("未匹配到任何规则！", {type: 'error'},function (){
                                                            setTimeout(function(){
                                                                $('#customerCardNo').focus();
                                                            }, 1000)
                                                        });
                                                        $("#saveBtn").attr('disabled', true);
                                                        return
                                                    }
                                                    fee+=resulst.data[i].totalFee;
                                                }
                                                //获取计费规则成功后才可以输入商品
                                                $("#saveBtn").attr('disabled', false);
                                                $('#inspectionItem').attr('disabled',false);
                                            }else{
                                                $("#saveBtn").attr('disabled', true);
                                                bs4pop.alert("未匹配到任何规则！", {type: 'error'},function () {
                                                    setTimeout(function(){
                                                        $('#customerCardNo').focus();
                                                    }, 500)
                                                });
                                                return;
                                            }
                                        }else {
                                            $("#saveBtn").attr('disabled', true);
                                            bs4pop.alert(resulst.result, {type: 'error'},function () {
                                                setTimeout(function(){
                                                    $('#customerCardNo').focus();
                                                }, 500)
                                            });
                                        }
                                    }
                                });
                            }else {
                                $("#saveBtn").attr('disabled', true);
                                bui.loading.hide();
                                bs4pop.alert(res.result, {type: 'error'},function () {
                                    setTimeout(function(){
                                        $('#customerCardNo').focus();
                                    }, 500)
                                });
                            }
                        }
                    });
                }
            }
        });

        //刷卡监听
        $('#payByCard').on('click',function (e) {
            let cardNum;
            let json = JSON.parse(callbackObj.readCardNumber());
            if (json.code == 0) {
                cardNum = json.data;
            } else {
                parent.bs4pop.alert(json.message, {type: "error"});
                return false;
            }
            oldCardNum=cardNum;
           //再次刷卡时将检测费用和缴费金额清0
            if(reCardFlag==true){
                $('#inspectionNum').val('');
                $('#chargeAmountView').val('');
                $('#chargeAmount').val('');
                $('#inspectionItem').val(null).trigger('change');
                fee=0.00;
            }
            reCardFlag=true;
            bui.loading.show('努力获取数据中，请稍候。。。');
            $.ajax({
                type: "POST",
                data:{cardNo:cardNum},
                dataType:"json",
                url: "/comprehensiveFee/listCustomerByCardNo.action",
                async: true,
                success: function (res) {
                    if (res.code == "200") {
                        //预防回车查询失败锁住
                        $("#saveBtn").attr('disabled', false);
                        //赋值
                        $('#customerType').val(res.data[0].customerMarket.type);
                        $('#customerCardNo').val(cardNum);
                        $('#customerCode').val(res.data[0].code);
                        $('#customerId').val(res.data[0].id);
                        $('#customerName').val(res.data[0].name);
                        //存的临时翻译字段
                        $('#customerTypeView').val(res.data[0].customerMarket.notes);
                        //查询客户余额
                        $.ajax({
                            type: "POST",
                            data: {customerCardNo: cardNum},
                            dataType: "json",
                            url: "/comprehensiveFee/queryAccountBalance.action",
                            async: false,
                            success: function (resulst) {
                                if (resulst.code == "200") {
                                    $('#availableBalance').val((resulst.data.accountFund.availableAmount/100).toFixed(2));
                                }
                            }
                        });
                        //查询计费规则
                        $.ajax({
                            type: "POST",
                            data: {customerId: res.data[0].id, type: res.data[0].customerMarket.type},
                            dataType: "json",
                            url: "/comprehensiveFee/fee.action",
                            async: false,
                            success: function (resulst) {
                                if (resulst.code == "200") {
                                    if(resulst.data!=null&&resulst.data.length>0){
                                        for(var i=0;i<resulst.data.length;i++){
                                            if(resulst.data[i].code!="200"){
                                                bs4pop.alert("未匹配到任何规则！", {type: 'error'});
                                                $("#saveBtn").attr('disabled', true);
                                                return
                                            }
                                            fee+=resulst.data[i].totalFee;
                                        }
                                        //获取计费规则成功后才可以输入商品
                                        $("#saveBtn").attr('disabled', false);
                                        $('#inspectionItem').attr('disabled',false);
                                    }else{
                                        $("#saveBtn").attr('disabled', true);
                                        bs4pop.alert("未匹配到任何规则！", {type: 'error'});
                                        return;
                                    }
                                }else {
                                    $("#saveBtn").attr('disabled', true);
                                    bs4pop.alert(resulst.result, {type: 'error'});
                                }
                            }
                        });
                        bui.loading.hide();
                    }else {
                        bui.loading.hide();
                        bs4pop.alert(res.result, {type: 'error'});
                    }
                }
            });
        });

        /**
         * 保存事件
         * */
        function saveOrUpdateHandler() {
            let cardNum=$("#customerCardNo").val();
            if(cardNum!=oldCardNum){
                $("#customerCardNo").val(oldCardNum);
            }
            // 提交保存
            if (!$('#saveForm').validate().form()) {
                return false;
            }
            //将缴费金额转成整数存入
            var chargeAmount=parseFloat($('#chargeAmountView').val());
            chargeAmount=chargeAmount.toFixed(2)*100;
            $('#chargeAmount').val(Math.round(chargeAmount));
            bui.loading.show('努力提交中，请稍候。。。');
            var obj=$('#saveForm')[0];
            let _formData = new FormData($('#saveForm')[0]);
            $.ajax({
                type: "POST",
                url: "/comprehensiveFee/insert.action",
                data: _formData,
                processData: false,
                contentType: false,
                async: true,
                success: function (res) {
                    bui.loading.hide();
                    if (res.code == "200") {
                        parent.verificationUsernamePassword(res.data.id);
                    } else {
                        bui.loading.hide();
                        bs4pop.alert(res.message, {type: 'error'});
                    }
                },
                error: function (error) {
                    bui.loading.hide();
                    bs4pop.alert(error.message, {type: 'error'});
                }
            });
        }
    </script>