<#bs4Body>

<div class="container-fluid">
        <input type="hidden" id="_sourceChannel" value="<#config name='ia.source.channel.earnest_order'/>">
        <form id="saveForm" role="form" novalidate>
            <div class="row row-cols-4">
                <div class="form-group col">
                    <label for="">单据编号</label>
                    <div class="input-group">
                        <input type="text" class="form-control"  value="${comprehensiveFee.code!}" disabled>
                    </div>
                </div>
                <div class="form-group col">
                    <label for="">客户编号</label>
                    <div class="input-group">
                        <input type="text" class="form-control"  value="${comprehensiveFee.customerCode!}" disabled>
                    </div>
                </div>
                <div class="form-group col">
                    <label for="">客户名称</label>
                    <div class="input-group">
                        <input type="text" class="form-control"  value="${comprehensiveFee.customerName!}" disabled>
                    </div>
                </div>
                <div class="form-group col">
                    <label for="">身份类型</label>
                    <div class="input-group">
                        <input type="text" class="form-control"  value="${comprehensiveFee.customerType!}" disabled>
                    </div>
                </div>
                <div class="form-group col">
                    <label for="">客户卡号</label>
                    <div class="input-group">
                        <input type="text" class="form-control"  value="${comprehensiveFee.customerCardNo!}" disabled>
                    </div>
                </div>
                <div class="form-group col">
                    <label for="">检测数量</label>
                    <div class="input-group">
                        <input type="text" class="form-control"  value="${comprehensiveFee.inspectionNum!}" disabled>
                    </div>
                </div>
                <div class="form-group col">
                    <label for="">缴费金额</label>
                    <div class="input-group">
                        <input type="text" class="form-control"  value="${comprehensiveFee.chargeAmount!}" disabled>
                    </div>
                </div>
                <div class="form-group col">
                    <label for="">车牌号</label>
                    <div class="input-group">
                        <input type="text" class="form-control"  value="${comprehensiveFee.plate!}" disabled>
                    </div>
                </div>
                <div class="form-group col">
                    <label for="">单据状态</label>
                    <div class="input-group">
                        <input type="text" class="form-control"  value="${comprehensiveFee.orderStatus!}" disabled>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1">
                <div class="form-group col">
                    <label for="">检测商品</label>
                    <textarea id="inspectionItemName" name="inspectionItemName" class="form-control"  disabled>${comprehensiveFee.inspectionItemName!}</textarea>
                </div>
            </div>
            <div class="row row-cols-1">
                <div class="form-group col">
                    <label for="">备注</label>
                    <input type="text" class="form-control" value="${comprehensiveFee.remark!}" disabled>
                </div>
            </div>
            <div class="row row-cols-2">
                <div class="form-group col">
                    <label for="">结算员</label>
                    <input type="text" class="form-control" value="${comprehensiveFee.operatorName!}"  disabled>
                </div>
                <div class="form-group col">
                    <label for="">结算时间</label>
                    <input type="text" class="form-control" value="${comprehensiveFee.operatorTime!,localDateTimeFormat='yyyy-MM-dd HH:mm:ss'}"  disabled>
                </div>
            </div>
            <div class="row row-cols-2">
                <div class="form-group col">
                    <label for="">撤销员</label>
                    <input type="text" class="form-control" value="${comprehensiveFee.revocatorName!}"  disabled>
                </div>
                <div class="form-group col">
                    <label for="">撤销时间</label>
                    <input type="text" class="form-control" value="${comprehensiveFee.revocatorTime!,localDateTimeFormat='yyyy-MM-dd HH:mm:ss'}"  disabled>
                </div>
            </div>
        </form>
    </div>
</#bs4Body>
