<#bs4Body>

<div class="container-fluid">
        <input type="hidden" id="_sourceChannel" value="<#config name='ia.source.channel.earnest_order'/>">
        <form id="saveForm" role="form" novalidate>
            <div class="row row-cols-1">
                <div class="form-group col">
                    <label for="">卡号</label>
                    <div class="input-group">
                        <input id="customerCardNo" readonly="true" class="form-control" name="customerCardNo" required="true"  maxlength="20">
                        <div class="input-group-append">
                           <span class="input-group-text card-bt text-primary" id="payByCard"><a href="javascript:;" >刷卡</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1">
                <div class="form-group col">
                    <label for="">客户名称</label>
                    <input id="customerName" readonly="true" class="form-control" name="customerName"  maxlength="10">
                    <input id="customerCode" hidden="true" class="form-control" name="customerCode">
                    <input id="customerId" class="form-control" name="customerId" hidden="true">
                </div>
            </div>
            <div class="row row-cols-1">
                <div class="form-group col">
                    <label for="">可用余额</label>
                    <input type="number" id="availableBalance" readonly="true" class="form-control"  maxlength="100">
                </div>
            </div>
            <div class="row row-cols-1">
                <div class="form-group col">
                    <label for="">缴费金额</label>
                    <input type="number" id="chargeAmountView"  class="form-control"   maxlength="100">
                    <input type="number" hidden="true"  id="chargeAmount"  class="form-control" name="chargeAmount"  maxlength="100">
                </div>
            </div>
            <div class="row row-cols-1">
                <div class="form-group col">
                    <label for="">备注</label>
                    <input id="remark" class="form-control" name="remark"  maxlength="30">
                </div>
            </div>
        </form>
    </div>
</#bs4Body>


    <script>
        $('#payByCard').on('click',function (e) {
            //let cardNum='888800039006';
            let cardNum;
            let json = JSON.parse(callbackObj.readCardNumber());
            if (json.code == 0) {
                cardNum = json.data;
            } else {
                bs4pop.alert(json.message, {type: "error"});
                return false;
            }
            $.ajax({
                type: "POST",
                data:{cardNo:cardNum},
                dataType:"json",
                url: "/customer/listCustomerByCardNo.action",
                async: true,
                success: function (res) {
                    if (res.code == "200") {
                        $('#customerCardNo').val(cardNum);
                        $('#customerCode').val(res.data[0].code);
                        $('#customerId').val(res.data[0].id);
                        $('#customerName').val(res.data[0].name);

                        //查询客户余额
                        $.ajax({
                            type: "POST",
                            data: {customerCardNo: cardNum},
                            dataType: "json",
                            url: "/queryFee/queryAccountBalance.action",
                            async: false,
                            success: function (res) {
                                if (res.code == "200") {
                                    $('#availableBalance').val((res.data.accountFund.balance/100).toFixed(2));
                                }
                            }
                        });
                    }else {
                        bui.loading.hide();
                        bs4pop.alert(res.result, {type: 'error'});
                    }
                },
            });
        });

        var customerNamesAutoCompleteOption = {
            width: '100%',
            language: 'zh-CN',
            maximumSelectionLength: 10,
            ajax: {
                type:'post',
                url: '/api/customCategory/getTree',
                data: function (params) {
                    return {
                        Keyword: params.term,
                    }
                },
                processResults: function (data) {
                    if(data.length){
                        return {
                            results: $.map(data, function (item) {
                                item.text = item.id + ' | ' + item.name ;
                                return item;
                            })
                        };
                    }
                }
            }
        }

        function saveOrUpdateHandler() {
            //固定金额校验
            var num = $('#chargeAmountView').val();
            var exp = /^\d{1,5}(\.\d{1,2})?$/;
            if(!exp.test(num) || num == 0){
                bs4pop.alert("固定价格必须是0.01-99999.99之间的数字且最多两位小数", {type: 'error'});
                return;
            }
            // 提交保存
            if (!$('#saveForm').validate().form()) {
                return false;
            }
            //将缴费金额转成整数存入
            var chargeAmount=parseFloat($('#chargeAmountView').val());
            chargeAmount=chargeAmount.toFixed(2)*100;
            $('#chargeAmount').val(Math.round(chargeAmount));
            bui.loading.show('努力提交中，请稍候。。。');
            var obj=$('#saveForm')[0];
            let _formData = new FormData($('#saveForm')[0]);
            $.ajax({
                type: "POST",
                url: "/queryFee/insert.action",
                data: _formData,
                processData: false,
                contentType: false,
                async: true,
                success: function (res) {
                    bui.loading.hide();
                    if (res.code == "200") {
                        parent.dia.hide();
                        parent.verificationUsernamePassword(res.data.id);
                        /*bs4pop.alert('成功', {type: 'success'}, function () {
                            /!* 应该要带条件刷新 *!/
                            parent.dia.hide();
                            parent.location.reload();
                        });*/
                    } else {
                        bui.loading.hide();
                        bs4pop.alert(res.result, {type: 'error'});
                    }
                },
                error: function (error) {
                    bui.loading.hide();
                    bs4pop.alert(error.result, {type: 'error'});
                }
            });
        }
    </script>