<#bs4Body>

<div class="container-fluid">
    <input type="hidden" id="_sourceChannel" value="<#config name='ia.source.channel.earnest_order'/>">
    <form id="saveForm" role="form" novalidate>
        <div class="row row-cols-1">
            <div class="form-group col">
                <label for="">支付金额</label>
                <input type="text" class="form-control" id="chargeAmountView" value="${chargeAmountView}"  readonly />
                <input type="text" id="chargeAmount" class="form-control" value="${comprehensiveFee.chargeAmount!}" hidden />
                <input type="text" name="id" class="form-control" value="${comprehensiveFee.id!}" hidden />
            </div>
        </div>
        <div class="row row-cols-1">
            <div class="form-group col">
                <label for="">客户名称</label>
                <input type="text" class="form-control" value="${comprehensiveFee.customerName!}" readonly />
            </div>
        </div>
        <div class="row row-cols-1">
            <div class="form-group col">
                <label for="">客户密码</label>
                <div class="input-group-append">
                    <input id="password" type="password" class="form-control" name="password"  readonly />
                    <span class="input-group-text card-bt text-primary" id="inputPassword"><a href="javascript:;">输入密码</a></span>
                </div>
            </div>
        </div>
    </form>
</div>
</#bs4Body>

<script>
    $(function () {
        $('#inputPassword').on('click', function (e) {
            let password = callbackObj.readPasswordKeyboard();
            //let password='123456';
            if (password==-1){
                bs4pop.alert("未读取到密码", {type: 'error'});
                return false;
            }
           $('#password').val(password);
        });
    })
    function pay() {
        let _formData = new FormData($('#saveForm')[0]);
        bui.loading.show('努力提交中，请稍候。。。');
        $.ajax({
            type: "POST",
            url: "/queryFee/pay.action",
            data: _formData,
            processData: false,
            contentType: false,
            async: true,
            success: function (res) {
                bui.loading.hide();
                if (res.code == "200") {
                    bs4pop.alert('成功', {type: 'success'}, function () {
                        parent.dia.hide();
                        parent.location.reload();
                    });
                } else {
                    bui.loading.hide();
                    bs4pop.alert(res.result, {type: 'error'});
                }
            },
            error: function (error) {
                bui.loading.hide();
                bs4pop.alert(error.result, {type: 'error'});
            }
        });
    }

</script>