<#bs4Body>

<div class="container-fluid">
    <input type="hidden" id="_sourceChannel" value="<#config name='ia.source.channel.earnest_order'/>">
    <form id="saveForm" role="form" novalidate>
        <div class="row row-cols-4">
            <div class="form-group col">
                <label for="">卡号</label>
                <div class="input-group">
                    <input id="customerCardNo" required readonly="true" class="form-control" name="customerCardNo"
                           maxlength="100">
                    <div class="input-group-append">
                        <span class="input-group-text card-bt text-primary" id="payByCard"><a href="javascript:;">刷卡</a></span>
                    </div>
                </div>
            </div>
            <div class="form-group col">
                <label for="">客户编号</label>
                <input id="customerCode" readonly="true" required class="form-control" name="customerCode"
                       maxlength="100">
                <input id="customerId" required class="form-control" name="customerId" hidden="true" maxlength="100">
                <input id="contactsPhone" required class="form-control" name="contactsPhone" hidden="true"
                       maxlength="100">
            </div>
            <div class="form-group col">
                <label for="">客户名称</label>
                <input id="customerName" readonly="true" required class="form-control" name="customerName"
                       maxlength="100">
            </div>

            <div class="form-group col">
                <label for="">办理业务<i class="red">*</i></label>
                <div class="mt-2" id="stateRadioDiv">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="r_stateRadioDiv1" value="1" name="bizType" required
                               class="custom-control-input">
                        <label class="custom-control-label" for="r_stateRadioDiv1">转场</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="r_stateRadioDiv2" value="2" name="bizType" required
                               class="custom-control-input">
                        <label class="custom-control-label" for="r_stateRadioDiv2">离场</label>
                    </div>
                </div>
            </div>
            <div class="form-group col">
                <label for="">车辆类型<i class="red">*</i></label>
                <#bautoCompleteProvider _hiddenDomainClass="form-control" _hiddenDomainId="carTypeId"
                _hiddenDomainName="carTypeId" _displayDomainId="_carTypeId" _displayDomainName="_carTypeId"
                _placeholder="" _provider="carTypeProvider" _validatorMethod="isSelected" _value="" _text=""
                _required="true"/>
            </div>
            <div class="form-group col">
                <label for="">车牌号<i class="red">*</i></label>
                <input id="plate" class="form-control" name="plate" type="text" maxlength="8" minlength="3" required>
            </div>
            <div class="form-group col">
                <label for="">交易类型<i class="red">*</i></label>
                <#bautoCompleteProvider _hiddenDomainClass="form-control" _hiddenDomainId="transTypeId"
                _hiddenDomainName="transTypeId" _displayDomainId="_transTypeId" _displayDomainName="_transTypeId"
                _placeholder="" _provider="dataDictionaryValueProvider" _validatorMethod="isSelected" _value="" _text=""
                _required="true" _queryParams='{dd_code:"trade_type",required:true}'/>
            </div>
            <div class="form-group col">
                <label for="">商品名称<i class="red">*</i></label>
                <#bautoCompleteProvider _hiddenDomainClass="form-control" _hiddenDomainId="categoryId"
                _hiddenDomainName="categoryId" _displayDomainId="_categoryId" _displayDomainName="_categoryId"
                _placeholder="" _provider="categoryProvider" _validatorMethod="isSelected" _value="" _text=""
                _required="true"/>
            </div>
            <div class="form-group col">
                <label for="transitionDepartureReason">转离场地址<i class="red">*</i></label>
                <input id="addr" class="form-control" name="addr" rows="3" maxlength="15" required>
            </div>
            <div class="form-group col">
                <label for="">发起</label>
                <input id="originatorName" readonly="true" required class="form-control" name="originatorName"
                       maxlength="100">
            </div>
            <div class="form-group col-12">
                <label for="transitionDepartureReason">转离场理由<i class="red">*</i></label>
                <textarea id="transitionDepartureReason" class="form-control" name="transitionDepartureReason" rows="3"
                          maxlength="50" required></textarea>
            </div>
        </div>
    </form>
</div>
</#bs4Body>


<script>
    $('#payByCard').on('click', function (e) {

        let cardNum;
        let json = JSON.parse(callbackObj.readCardNumber());
        if (json.code == 0) {
            cardNum = json.data;
        } else {
            bs4pop.alert(json.message, {type: "error"});
            return false;
        }

        $.ajax({
            type: "POST",
            data: {cardNo: cardNum},
            dataType: "json",
            url: "/transitionDepartureApply/getCustomerByCardNo.action",
            async: false,
            success: function (res) {
                if (res.code == "200") {
                    $('#customerCardNo').val(cardNum);
                    $('#customerCode').val(res.data.code);
                    $('#customerId').val(res.data.id);
                    $('#customerName').val(res.data.name);
                    $('#contactsPhone').val(res.data.contactsPhone);
                } else {
                    bui.loading.hide();
                    bs4pop.alert(res.result, {type: 'error'});
                }
            },
            error: function (error) {
                bui.loading.hide();
                bs4pop.alert(error.result, {type: 'error'});
            }
        });
        $.ajax({
            type: "POST",
            url: "/transitionDepartureApply/getUserNameInSession.action",
            processData: false,
            contentType: false,
            async: false,
            success: function (res) {
                if (res.code == "200") {
                    $('#originatorName').val(res.data.realName);
                } else {
                    bs4pop.alert(res.result, {type: 'error'});
                }
            },
            error: function (error) {
                bui.loading.hide();
                bs4pop.alert(error.result, {type: 'error'});
            }
        });
    });

    function saveOrUpdateHandler() {
        // 提交保存
        if (!$('#saveForm').validate().form()) {
            return false;
        }
        parent.bui.loading.show('努力提交中，请稍候。。。');
        let _formData = new FormData($('#saveForm')[0]);
        $.ajax({
            type: "POST",
            url: "/transitionDepartureApply/insert.action",
            data: _formData,
            processData: false,
            contentType: false,
            async: true,
            success: function (res) {
                parent.bui.loading.hide();
                if (res.code == "200") {
                    parent.dia.hide();
                    parent.location.reload();
                } else {
                    bui.loading.hide();
                    bs4pop.alert(res.result, {type: 'error'});
                }
            },
            error: function (error) {
                parent.bui.loading.hide();
                bs4pop.alert(error.result, {type: 'error'});
            }
        });
    }

</script>