<#bs4Body>
<link href="https://cdn.bootcss.com/select2/4.0.12/css/select2.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/select2/4.0.12/js/select2.min.js"></script>
<script src="https://cdn.bootcss.com/select2/4.0.12/js/i18n/zh-CN.js"></script>
<style>

    .boothname {
        text-indent: 20px;
    }
    tr[class*="treegrid-parent"] .boothname{
        text-indent: 40px;
    }

     .select2-container--default .select2-selection--single {
         border: 1px solid #DBDDE1;
         height: 33.5px;

     }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 33.5px;
    }

    .select2-container--bootstrap4 .select2-selection--single {
        height: calc(2.25rem + 2px) !important
    }

    .select2-container--bootstrap4 .select2-selection--single .select2-selection__placeholder {
        color: #757575;
        line-height: 2.25rem
    }

    .select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow {
        position: absolute;
        top: 50%;
        right: 3px;
        width: 20px
    }

    .select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow b {
        top: 60%;
        border-color: #343a40 transparent transparent;
        border-style: solid;
        border-width: 5px 4px 0;
        width: 0;
        height: 0;
        left: 50%;
        margin-left: -4px;
        margin-top: -2px;
        position: absolute
    }

    .select2-container--bootstrap4 .select2-selection--single .select2-selection__rendered {
        line-height: 2.25rem
    }

    .select2-search--dropdown .select2-search__field {
        border: 1px solid #ced4da;
        border-radius: .25rem
    }

    .select2-results__message {
        color: #6c757d
    }

    .select2-container--bootstrap4 .select2-selection--multiple {
        min-height: calc(2.25rem + 2px) !important
    }

    .select2-container--bootstrap4 .select2-selection--multiple .select2-selection__rendered {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        list-style: none;
        margin: 0;
        padding: 0 5px;
        width: 100%
    }

    .select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice {
        color: #343a40;
        border: 1px solid #bdc6d0;
        border-radius: .2rem;
        padding: 0 5px 0 0;
        cursor: pointer;
        float: left;
        margin-top: .3em;
        margin-right: 5px
    }

    .select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice__remove {
        color: #bdc6d0;
        font-weight: 700;
        margin-left: 3px;
        margin-right: 1px;
        padding-right: 3px;
        padding-left: 3px;
        float: left
    }

    .select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice__remove:hover {
        color: #343a40
    }

    .select2-container {
        display: block
    }

    .select2-container :focus {
        outline: 0
    }

    .input-group .select2-container--bootstrap4 {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1
    }

    .input-group-prepend ~ .select2-container--bootstrap4 .select2-selection {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0
    }

    .input-group > .select2-container--bootstrap4:not(:last-child) .select2-selection {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0
    }

    .select2-container--bootstrap4 .select2-selection {
        background-color: #fff;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
        transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
        width: 100%
    }

    @media screen and (prefers-reduced-motion: reduce) {
        .select2-container--bootstrap4 .select2-selection {
            -webkit-transition: none;
            transition: none
        }
    }

    .select2-container--bootstrap4.select2-container--focus .select2-selection {
        border-color: #80bdff;
        -webkit-box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
        box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25)
    }

    .select2-container--bootstrap4.select2-container--focus.select2-container--open .select2-selection {
        border-bottom: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0
    }

    .select2-container--bootstrap4.select2-container--disabled.select2-container--focus .select2-selection, .select2-container--bootstrap4.select2-container--disabled .select2-selection {
        background-color: #e9ecef;
        cursor: not-allowed;
        border-color: #ced4da;
        -webkit-box-shadow: none;
        box-shadow: none
    }

    .select2-container--bootstrap4.select2-container--disabled.select2-container--focus .select2-search__field, .select2-container--bootstrap4.select2-container--disabled .select2-search__field {
        background-color: transparent
    }

    form.was-validated select:invalid ~ .select2-container--bootstrap4 .select2-selection, select.is-invalid ~ .select2-container--bootstrap4 .select2-selection {
        border-color: #dc3545
    }

    form.was-validated select:valid ~ .select2-container--bootstrap4 .select2-selection, select.is-valid ~ .select2-container--bootstrap4 .select2-selection {
        border-color: #28a745
    }

    .select2-container--bootstrap4 .select2-dropdown {
        border-color: #ced4da;
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0
    }

    .select2-container--bootstrap4 .select2-dropdown.select2-dropdown--above {
        border-top: 1px solid #ced4da;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem
    }

    .select2-container--bootstrap4 .select2-dropdown .select2-results__option[aria-selected=true] {
        background-color: #e9ecef
    }

    .select2-container--bootstrap4 .select2-results__option--highlighted, .select2-container--bootstrap4 .select2-results__option--highlighted.select2-results__option[aria-selected=true] {
        background-color: #007bff;
        color: #f8f9fa
    }

    .select2-container--bootstrap4 .select2-results__option[role=group] {
        padding: 0
    }

    .select2-container--bootstrap4 .select2-results > .select2-results__options {
        max-height: 15em;
        overflow-y: auto
    }

    .select2-container--bootstrap4 .select2-results__group {
        padding: 6px;
        display: list-item;
        color: #6c757d
    }

    .select2-container--bootstrap4 .select2-selection__clear {
        width: 1.2em;
        height: 1.2em;
        line-height: 1.15em;
        padding-left: .3em;
        margin-top: .5em;
        border-radius: 100%;
        background-color: #6c757d;
        color: #f8f9fa;
        float: right;
        margin-right: .3em
    }

    .select2-container--bootstrap4 .select2-selection__clear:hover {
        background-color: #343a40
    }
    .queryBtnCss{
    	color: #ffffff;
    	background: #007bff;
    }
    .btn_css_disabled{
    	cursor: not-allowed;
    }
</style>
<div class="container-fluid">
    <#bs4nav>
    <form class="form collapse show" id="queryForm" role="form" >
        <div class="row  row-cols-6">
        	<input type="hidden" name="status" value="">
            <div class="form-group col">
                <label for="">车型编号</label>
                <select id="bizType" name="tag" class="form-control w-200px">
                    <option value="">--全部--</option>
                    <option value="">--全部--</option>
                </select>
            </div>
            <div class="form-group col">
                <label for="">车型名称</label>
                <input type="text" class="form-control isNaturalNum" name="name" placeholder="">
            </div>
            <div class="form-group col">
                <label for="">标签</label>
                <#bcomboProvider _id="tag" _provider="dataDictionaryValueProvider" _queryParams='{dd_code:"cartype_tag",market_id:"${market_id!}", required:true}'/>
            </div>
            <div class="form-group col">
                <label for="">快捷编码</label>
                <input type="text" class="form-control isNaturalNum" name="code" placeholder="">
            </div>
            <div class="col align-self-center mt-3">
                <button type="button" class="btn btn-outline-primary mr-2" onclick="javascript:$('#queryForm .form-control').val('');"><i class="fa fa-refresh"></i> 清空</button>
                <button type="button" class="btn btn-outline-primary" onclick="queryDataHandler()"><i class="fa fa-search"></i> 查询</button>
            </div>
        </div>

    </form>
</#bs4nav>


<div class="">
    <div class="row">
        <div class="col-12">
            <div id="toolbar" class="btn-group" role="group" aria-label="Toolbar with button groups">
                <#resource code="carTypePublic_add">
	                <button id="btn_add" type="button" class="btn btn-primary" onclick="openUpdateHandler()"><i
	                        class="fa fa-plus"></i> 业务属性设置
	                </button>
                </#resource>
                <#resource code="carTypePublic_edit">
	                <button type="button" class="btn btn-primary" onclick="openUpdateHandler()">
	                    <i class="fa fa-pencil-square-o"></i> 修改
	                </button>
                </#resource>
                <#resource code="carTypePublic_del">
	                <button type="button" class="btn btn-primary" onclick="openDeleteHandler()">
	                    <i class="fa fa-trash-o"></i> 删除
	                </button>
                </#resource>
                <#resource code="carTypePublic_on">
	                <button type="button" class="btn btn-primary btn_css_disabled" id="btn_enabled" onclick="doEnableHandler(1)">
	                    <i class="fa fa-play"></i> 启用
	                </button>
                </#resource>
                <#resource code="carTypePublic_off">
	                <button type="button" class="btn btn-primary btn_css_disabled" id="btn_disabled" onclick="doEnableHandler(2)">
	                    <i class="fa fa-stop"></i> 禁用
	                </button>
                </#resource>
            </div>
            <br />
            <div class="btn-group mt-3 mb-3 queryBtn">
                <button type="button" class="btn btn-outline-primary queryBtnCss" onclick="updateStatus('', this)">&nbsp;&nbsp;全部&nbsp;&nbsp;</button>
                <button type="button" class="btn btn-outline-primary" onclick="updateStatus(1, this)">&nbsp;&nbsp;启用&nbsp;&nbsp;</button>
                <button type="button" class="btn btn-outline-primary" onclick="updateStatus(2, this)">&nbsp;&nbsp;禁用&nbsp;&nbsp;</button>
            </div>
            <table id="grid" data-toggle="table" data-id-field="id" data-tree-show-field="name" data-parent-id-field="parentId" data-query-params="queryParams" data-sort-name="id"
                   data-sort-order="desc" data-pagination="true" data-page-number="1" data-page-size="10" data-side-pagination="server" data-single-select="true" data-click-to-select="true" data-ignore-click-to-select-on="ignoreExpandClick">
                <thead>
                <tr>
                    <th data-radio="true"></th>
                    <th data-field="code" data-align="center" data-sortable="true">
                        申请单号
                    </th>
                    <th data-field="customerCode" data-align="center" data-sortable="true">
                        客户编号
                    </th>
                    <th data-field="customerName" data-align="center" data-sortable="true">
                       客户姓名
                    </th>
                    <th data-field="customerCardNo" data-align="center" data-sortable="true">
                       卡号
                    </th>
                    <th data-field="transTypeId" data-align="center"  data-sortable="true">
                        交易类型
                    </th>
                    <th data-field="categoryName" data-align="center" data-sortable="true">
                        商品名称
                    </th>
                    <th data-field="carTypeId" data-align="center" data-provider="carTypePublicProvider" data-sortable="true">
                        车型
                    </th>
                    <th data-field="plate" data-align="center"  data-sortable="true">
                        车牌号
                    </th>
                    <th data-field="bizType" data-align="center" data-provider="bizTypeProvider" data-sortable="true">
                        类型
                    </th>
                    <th data-field="approvalState" data-align="center" data-provider="applyProvider" data-sortable="true">
                        审批状态
                    </th>
                    <th data-field="originatorName" data-align="center" data-sortable="true">
                        发起人
                    </th>
                    <th data-field="originatorTime" data-align="center" data-sortable="true">
                        发起时间
                    </th>
                    <th data-field="approvalName" data-align="center" data-sortable="true">
                        审批人员
                    </th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>


</div>

</#bs4Body>
<#btreegrid/>
<div class="modal fade" id="_modal" data-backdrop="static" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <!--modal-lg modal-sm(默认) 通过设置mw大小调整宽度（如mw-100） modal-dialog-centered垂直居中-->
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- 标题 -->
                <h5 class="modal-title" id="exampleModalLabel">车型新增</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
<script>
    function updateStatus(status, queryBtn){
		var inputval = $("input[name=status]").val();
    	if(status == inputval){
    		return;
    	}else{
    		$(".queryBtn .queryBtnCss").removeClass("queryBtnCss");
    		$(queryBtn).addClass("queryBtnCss");
    	}
    	$("input[name=status]").val(status);
    	queryDataHandler();
    }
    $(function(){
    	$('#grid').on('click-row.bs.table', function (e, row, $element, field) {
            if(row.$_status == 1){
            	$("#btn_enabled").attr("disabled", "disabled");
            	$("#btn_disabled").attr("disabled", false);
            	$("#btn_enabled").addClass("btn_css_disabled");
            	$("#btn_disabled").removeClass("btn_css_disabled");
            }else if(row.$_status == 2){
            	$("#btn_disabled").attr("disabled", "disabled");
            	$("#btn_enabled").removeClass("btn_css_disabled");
            	$("#btn_disabled").addClass("btn_css_disabled");
            	$("#btn_enabled").attr("disabled", false);
            }else{
            	$("#btn_disabled").attr("disabled", "disabled");
            	$("#btn_enabled").attr("disabled", "disabled");
            	$("#btn_disabled").addClass("btn_css_disabled");
            	$("#btn_enabled").addClass("btn_css_disabled");
            }
      	})
    })
    function ignoreExpandClick(e) {
        return ['SPAN'].indexOf(e.tagName) > -1;
    }

</script>

<#transitionDepartureApply_indexJs />