<#bs4Body>

<div class="container-fluid">
    <#bs4nav>
    <form class="form collapse show" id="queryForm" role="form" >
        <div class="row  row-cols-6">
            <div class="form-group col">
                <label for="">审批状态</label>
                <select id="approvalState" name="approvalState" class="form-control">
                    <option value="">--全部--</option>
                    <option value="1">待审批</option>
                    <option value="2">通过</option>
                    <option value="3">拒绝</option>
                </select>
            </div>
            <div class="form-group col">
                <label for="">类型</label>
                <select id="bizType" name="bizType" class="form-control">
                    <option value="">--全部--</option>
                    <option value="1">转场</option>
                    <option value="2">离场</option>
                </select>
            </div>
            <div class="form-group col-12">
                <label for="customerId">客户</label>
                <#bautoCompleteProvider _hiddenDomainClass="form-control" _hiddenDomainId="customerId" _hiddenDomainName="customerId" _displayDomainId="customerName" _displayDomainName="customerName" _placeholder=""  _optionVariable="customerNameAutoCompleteOption"  _validatorMethod="isSelected" _value="" _text="" />

            </div>
            <div class="form-group col">
                <label for="">车牌</label>
                <input type="text" class="form-control isNaturalNum" name="plate" placeholder="">
            </div>
            <div class="form-group col">
                <label for="_originatorId" class="">发起人员</label>
                <#bautoCompleteProvider _hiddenDomainClass="form-control" _hiddenDomainId="originatorId" _hiddenDomainName="originatorId" _displayDomainId="_originatorId" _displayDomainName="_originatorId" _placeholder="" _provider="userProvider" _validatorMethod="isSelected" _value="" _text="" />
            </div>
        </div>
        <div class="row  row-cols-6">
            <div class="form-group col-auto">
                <label for="createdStart" >发起时间</label>
                <div class="form-inline">
                    <div class="input-group">
                        <input type="text" name="beginTime" id="createdStart" value="${beginDate!}" class="form-control laydatetime laystart"/>
                        <div class="input-group-append">
                            <label for=""  class="input-group-text fa fa-calendar"></label>
                        </div>
                    </div>&nbsp;&nbsp;至&nbsp;&nbsp;
                    <div class="input-group">
                        <input type="text" name="endTime" id="createdEnd" value="${endDate!}" class="form-control laydatetime layend" value=""/>
                        <div class="input-group-append">
                            <label for=""  class="input-group-text fa fa-calendar"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col">
                <label for="" class="">审批人员</label>
                <#bautoCompleteProvider _hiddenDomainClass="form-control" _hiddenDomainId="approvalId" _hiddenDomainName="approvalId" _displayDomainId="_approvalId" _displayDomainName="_approvalId" _placeholder="" _provider="userProvider" _validatorMethod="isSelected" _value="" _text="" />
            </div>
            <div class="form-group col-5">
                <label for="" class="">卡号</label>
                <div class="input-group">
                    <#bautoCompleteProvider  _displayDomainId="customerCardNo" _displayDomainName="customerCardNo" _placeholder="" _optionVariable="customerCardQueryAutoCompleteOption"/>
                    <input type="text" class="form-control" id="show_customer_name" readonly/>
                    <button type="button" class="btn btn-outline-primary mr-2" onclick="javascript:swipeCard(this);">
                        <i class="fa fa-refresh"></i>刷卡
                    </button>
                </div>
            </div>
            <div class="col align-self-center mt-3">
                <button type="button" class="btn btn-outline-primary mr-2" onclick="javascript:$('#queryForm .form-control').val('');"><i class="fa fa-refresh"></i> 清空</button>
                <button type="button" class="btn btn-outline-primary" onclick="queryDataHandler()"><i class="fa fa-search"></i> 查询</button>
            </div>
        </div>

    </form>
</#bs4nav>


<div class="">
    <div class="row">
        <div class="col-12">
            <div id="toolbar" class="btn-group" role="group" aria-label="Toolbar with button groups">
                <#resource code="transitionDepartureApply_add">
	                <button id="btn_add" type="button" class="btn btn-primary" onclick="openInsertHandler()"><i
	                        class="fa fa-plus"></i> 申请
	                </button>
                </#resource>
                <#resource code="transitionDepartureApply_update">
	                <button type="button" class="btn btn-primary" onclick="openUpdateHandler()">
	                    <i class="fa fa-pencil-square-o"></i> 审批
	                </button>
                </#resource>
                <#resource code="transitionDepartureApply_see">
                    <button id="btn_view" type="button" class="btn btn-primary" onclick="openViewHandler()"><i class="fa fa-eye"></i> 查看</button>
                </#resource>
                <#resource code="transitionDepartureApply_export">
                    <button id="export" type="button" class="btn btn-primary" onclick="bui.util.doExport('grid','queryForm')"><i class="fa fa-download"></i> 导出</button>
                </#resource>
            </div>
            <table id="grid" data-toggle="table" data-title="转离场申请单列表" data-id-field="id" data-tree-show-field="name" data-parent-id-field="parentId" data-query-params="queryParams" data-sort-name="id"
                   data-sort-order="desc" data-pagination="true" data-page-number="1" data-page-size="10" data-side-pagination="server" data-single-select="true" data-click-to-select="true" data-ignore-click-to-select-on="ignoreExpandClick">
                <thead>
                <tr>
                    <th data-radio="true"></th>
                    <th data-field="code" data-align="center" data-sortable="true">
                        申请单号
                    </th>
                    <th data-field="customerCode" data-align="center" data-sortable="true">
                        客户编号
                    </th>
                    <th data-field="customerName" data-align="center" data-sortable="true">
                       客户姓名
                    </th>
                    <th data-field="customerCardNo" data-align="center" data-sortable="true">
                       卡号
                    </th>
                    <th data-field="transTypeId" data-align="center" data-provider="dataDictionaryValueProvider"  data-sortable="true" data-sort-name="trans_type_id" data-query-params='{dd_code:"trade_type"}'>
                        交易类型
                    </th>
                    <th data-field="categoryId" data-align="center" data-provider="categoryProvider"  data-sortable="true" data-sort-name="category_id">
                        商品名称
                    </th>
                    <th data-field="carTypeId" data-align="center" data-provider="carTypeProvider" data-sortable="true" data-sort-name="car_type_id">
                        车型
                    </th>
                    <th data-field="plate" data-align="center"  data-sortable="true">
                        车牌号
                    </th>
                    <th data-field="bizType" data-align="center" data-provider="bizTypeProvider" data-sortable="true" data-sort-name="biz_type">
                        类型
                    </th>
                    <th data-field="approvalState" data-align="center" data-provider="applyProvider" data-sortable="true" data-sort-name="approval_state">
                        审批状态
                    </th>
                    <th data-field="originatorName" data-align="center" data-sortable="true">
                        发起人
                    </th>
                    <th data-field="originatorTime" data-align="center" data-provider="datetimeProvider" data-sortable="true">
                        发起时间
                    </th>
                    <th data-field="approvalName" data-align="center" data-sortable="true">
                        审批人员
                    </th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>


</div>

</#bs4Body>

<script>
    function updateStatus(status, queryBtn){
		var inputval = $("input[name=status]").val();
    	if(status == inputval){
    		return;
    	}else{
    		$(".queryBtn .queryBtnCss").removeClass("queryBtnCss");
    		$(queryBtn).addClass("queryBtnCss");
    	}
    	$("input[name=status]").val(status);
    	queryDataHandler();
    }
    $(function(){
    	$('#grid').on('click-row.bs.table', function (e, row, $element, field) {
            if(row.$_status == 1){
            	$("#btn_enabled").attr("disabled", "disabled");
            	$("#btn_disabled").attr("disabled", false);
            	$("#btn_enabled").addClass("btn_css_disabled");
            	$("#btn_disabled").removeClass("btn_css_disabled");
            }else if(row.$_status == 2){
            	$("#btn_disabled").attr("disabled", "disabled");
            	$("#btn_enabled").removeClass("btn_css_disabled");
            	$("#btn_disabled").addClass("btn_css_disabled");
            	$("#btn_enabled").attr("disabled", false);
            }else{
            	$("#btn_disabled").attr("disabled", "disabled");
            	$("#btn_enabled").attr("disabled", "disabled");
            	$("#btn_disabled").addClass("btn_css_disabled");
            	$("#btn_enabled").addClass("btn_css_disabled");
            }
      	})
    })
    function ignoreExpandClick(e) {
        return ['SPAN'].indexOf(e.tagName) > -1;
    }

</script>
<#transitionDepartureApply_indexJs />