<#bs4Body>

<div class="container-fluid">

    <form class="form collapse show" id="queryForm" role="form" >
        <div class="row  row-cols-6">
            <div class="form-group col">
                <label for="">审批状态</label>
                <select id="approvalState" name="approvalState" class="form-control">
                    <option value="">--全部--</option>
                    <option value="1">待审批</option>
                    <option value="2">通过</option>
                    <option value="3">拒绝</option>
                </select>
            </div>
            <div class="form-group col">
                <label for="">交易类型</label>
                <select id="transTypeId" name="transTypeId" class="form-control"></select>
                <#bcomboProvider _id="transTypeId" _provider="tradeTypeProvider" _validatorMethod="isSelected" _queryParams='{emptyText:"-- 全部 --"}' />
            </div>
            <div class="form-group col">
                <label for="">业务类型</label>
                <select id="bizType" name="bizType" class="form-control">
                    <option value="">--全部--</option>
                    <option value="1">转场</option>
                    <option value="2">离场</option>
                </select>
            </div>
            <div class="form-group col">
                <label for="">车牌号</label>
                <input type="text" class="form-control" name="plate" maxlength="8" minlength="3" placeholder="">
            </div>
            <div class="form-group col">
                <label for="" class="">审批人员</label>
                <#bautoCompleteProvider _hiddenDomainClass="form-control" _hiddenDomainId="approvalId" _hiddenDomainName="approvalId" _displayDomainId="_approvalId" _displayDomainName="_approvalId" _placeholder="" _provider="userProvider"  _value="" _text="" />
            </div>
            <div class="form-group col">
                <label for="" class="">发起人员</label>
                <#bautoCompleteProvider _hiddenDomainClass="form-control" _hiddenDomainId="originatorId" _hiddenDomainName="originatorId" _displayDomainId="_originatorId" _displayDomainName="_originatorId" _placeholder="" _provider="userProvider"  _value="" _text="" />
            </div>
            <div class="form-group col-auto" style="width: 350px">
                <label for="" class="">客户</label>
                <div class="input-group">
                    <#bautoCompleteProvider _hiddenDomainClass="form-control" _hiddenDomainId="customerId" _hiddenDomainName="customerId" _displayDomainId="code" _displayDomainName="code" _placeholder=""  _optionVariable="customerNameAutoCompleteOption" />
                    <input type="text" class="form-control" id="showCustomerName" readonly/>
                </div>
            </div>
            <div class="form-group col-auto" style="width: 350px">
                <label for="" class="">卡号</label>
                <div class="input-group">
                    <!--<#bautoCompleteProvider  _displayDomainId="customerCardNo" _displayDomainName="customerCardNo" _placeholder="" _optionVariable="customerCardQueryAutoCompleteOption"/>-->
                    <input type="text" class="form-control" id="show_customer_card" minlength="12" name="customerCardNo"/>
                    <input type="text" class="form-control" id="show_customer_name" readonly/>
                    <input type="text" class="form-control" id="accountId" name="accountId" hidden/>
                    <div class="input-group-append">
                        <span class="input-group-text" onclick="javascript:swipeCard(this);"><a href="javascript:;" style=" text-decoration: none;" >刷卡</a></span>
                    </div>
                </div>
            </div>
            <div class="form-group col-auto">
                <label for="createdStart" >发起时间</label>
                <div class="form-inline">
                    <div class="input-group">
                        <input type="text" name="beginTime" id="createdStart" value="${beginDate!}" class="form-control sendtime laystart"/>
                        <div class="input-group-append">
                            <label for="createdStart"  class="input-group-text fa fa-calendar"></label>
                        </div>
                    </div>&nbsp;&nbsp;至&nbsp;&nbsp;
                    <div class="input-group">
                        <input type="text" name="endTime" id="createdEnd" value="${endDate!}" class="form-control sendtime layend" value=""/>
                        <div class="input-group-append">
                            <label for="createdEnd"  class="input-group-text fa fa-calendar"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-auto align-self-center mt-3">
                <button type="button" class="btn btn-outline-primary mr-2" onclick="javascript:$('#queryForm .form-control').val('');$('#customerId').val(null).trigger('change');"><i class="fa fa-refresh"></i> 清空</button>
                <button type="button" class="btn btn-outline-primary" onclick="queryDataHandler()"><i class="fa fa-search"></i> 查询</button>
            </div>
        </div>

    </form>

<hr>

    <div class="row">
        <div class="col-12">
            <div id="toolbar" class="btn-group" role="group" aria-label="Toolbar with button groups">
                <#resource code="transitionDepartureApply_add">
	                <button id="btn_add" type="button" class="btn btn-primary" onclick="openInsertHandler()"><i
	                        class="fa fa-plus"></i> 申请
	                </button>
                </#resource>
                <#resource code="transitionDepartureApply_update">
	                <button type="button" class="btn btn-primary" id="sp" onclick="openUpdateHandler()">
	                    <i class="fa fa-pencil-square-o"></i> 审批
	                </button>
                </#resource>
                <#resource code="transitionDepartureApply_see">
                    <button id="btn_view" type="button" class="btn btn-primary" onclick="openViewHandler()"><i class="fa fa-eye"></i> 查看</button>
                </#resource>
                <#resource code="transitionDepartureApply_export">
                    <button id="export" type="button" class="btn btn-primary" onclick="bui.util.doExport('grid','queryForm')"><i class="fa fa-download"></i> 导出</button>
                </#resource>
            </div>
                <table id="grid" data-toggle="table" data-title="转离场申请列表" class="table"
                       data-toolbar="#toolbar"
                       data-pagination="true" data-page-number="1"
                       data-page-size="10" data-query-params="queryParams"
                       data-side-pagination="server"
                       data-content-type="application/x-www-form-urlencoded"
                       data-single-select="true" data-click-to-select="true" data-checkbox-header="true"
                       data-unique-id="code" data-sort-name="id" data-sort-order="desc"
                       data-icons="bui.variable.icons"
                       data-buttons-class="primary" data-show-refresh="true" data-show-fullscreen="true" data-show-columns="true">
                <thead>
                    <tr>
                        <th data-radio="true"></th>
                        <th data-field="code" data-align="center" data-sortable="true">
                            申请单号
                        </th>
                        <th data-field="customerCode" data-align="center" data-sortable="true" data-sort-name="customer_code">
                            客户编号
                        </th>
                        <th data-field="customerName" data-align="center" data-sortable="true" data-sort-name="CONVERT(customer_name using gbk)">
                           客户姓名
                        </th>
                        <th data-field="customerCardNo" data-align="center" data-sortable="true" data-sort-name="customer_card_no">
                           卡号
                        </th>
                        <th data-field="holdName" data-align="center" data-sortable="true" data-sort-name="hold_name">
                           持卡人
                        </th>
                        <th data-field="transTypeName" data-align="center"  data-sortable="true" data-sort-name="trans_type_id">
                            交易类型
                        </th>
                        <th data-field="categoryName" data-align="center"  data-sortable="true" data-sort-name="category_id">
                            商品名称
                        </th>
                        <th data-field="carTypeName" data-align="center"  data-sortable="true" data-sort-name="car_type_id">
                            车型
                        </th>
                        <th data-field="plate" data-align="center"  data-sortable="true" data-sort-name="CONVERT(plate using gbk)">
                            车牌号
                        </th>
                        <th data-field="bizType" data-align="center" data-provider="bizTypeProvider" data-sortable="true" data-sort-name="biz_type">
                            业务类型
                        </th>
                        <th data-field="approvalState" data-align="center" data-provider="applyProvider" data-sortable="true" data-sort-name="approval_state">
                            审批状态
                        </th>
                        <th data-field="originatorName" data-align="center" data-sortable="true" data-sort-name="CONVERT(originator_name using gbk)">
                            发起人
                        </th>
                        <th data-field="originatorTime" data-align="center" data-provider="datetimeProvider" data-sortable="true" data-sort-name="CONVERT(originator_time using gbk)">
                            发起时间
                        </th>
                        <th data-field="approvalName" data-align="center" data-sortable="true" data-sort-name="CONVERT(approval_name using gbk)">
                            审批人员
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

</#bs4Body>

<script>
    function updateStatus(status, queryBtn){
		var inputval = $("input[name=status]").val();
    	if(status == inputval){
    		return;
    	}else{
    		$(".queryBtn .queryBtnCss").removeClass("queryBtnCss");
    		$(queryBtn).addClass("queryBtnCss");
    	}
    	$("input[name=status]").val(status);
    	queryDataHandler();
    }
    $(function(){
        $('#grid').on('check.bs.table', function (e, row, $element, field) {
            let time=row.originatorTime;
            if (row.$_approvalState != 1 || new Date(time).toDateString() !== new Date().toDateString()) {
                $("#sp").attr("disabled", "disabled");
                $("#sp").addClass("btn_css_disabled");
            }else {
                $("#sp").removeClass("btn_css_disabled");
                $("#sp").attr("disabled", false);
            }
        })
    	$('#show_customer_card').on('input', function (cardNo) {
    	    if ($(this).val().length == 12){
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: '/customer/listCustomerByCardNo.action',
                    data: {cardNo: $(this).val()},
                    success: function (data) {
                        if (data.code == '200') {
                            $('#show_customer_name').val(data.data[0].name);
                            $('#accountId').val(data.data[0].id);
                        }else{
                            $('#show_customer_name').val('');
                            bs4pop.alert("客户获取失败!", {type: 'error'});
                        }
                    },
                    error: function () {
                        bui.loading.hide();
                        bs4pop.alert("客户获取失败!", {type: 'error'});
                    }
                });
            }else{
                $('#show_customer_name').val('');
                $('#accountId').val('');
            }
      	})
    })
    function ignoreExpandClick(e) {
        return ['SPAN'].indexOf(e.tagName) > -1;
    }



</script>
<#transitionDepartureApply_indexJs />